
body {
	margin:0;
	padding:0;
	font-family: 'Montserrat', sans-serif;
	/*font-family: 'Roboto', sans-serif;*/
	
}
h1, h2, h3, h4, h5, h6, p, ul, ol, li {
	margin:0;
	padding:0;
}
ul, ol, li {
	list-style:none;
}
.cusbutton{
	background: #dec75f;
    padding: 8px;
    border-radius: 20px;
    color: #000;
}
.addback{
	border-radius: 20px;
    background: #dec75f;
   }
   .addcol{
   	color: #fff!important;
   	font-weight: 500!important;
   	padding: 5px 8px 5px 8px!important;
   }
.image_background_services{
    background: url('../images/Survices-1.jpg') no-repeat!important;
}
.images_background_home{
    background: url('../images/banner4.jpg') no-repeat!important;  
}
.images_background_about{
background: url('../images/aboutus.jpg') no-repeat!important;
}
.images_background_catalog{
background: url('../images/catalog.jpg') no-repeat!important;
}
.images_background_contact{
background: url('../images/contactus.jpg') no-repeat!important;
}
.images_background_publisher{
background: url('../images/Publishers.jpg') no-repeat!important;
}
.images_background_subject{
background: url('../images/Subjects.jpg') no-repeat!important;
}

.antiques{
background: url('../images/Antiques.jpg') no-repeat!important;
}
.architecture{
background: url('../images/Architecture.jpg') no-repeat!important;
}
.art{
background: url('../images/Art.jpg') no-repeat!important;
}

.bibles{
background: url('../images/Body.jpg') no-repeat!important;
}
.biography{
background: url('../images/Biography.jpg') no-repeat!important;
}
.business{
background: url('../images/Business.jpg') no-repeat!important;
}

.comics{
background: url('../images/Comics.jpg') no-repeat!important;
}
.cooking{
background: url('../images/Cooking.jpg') no-repeat!important;
}
.computers{
background: url('../images/Computers.jpg') no-repeat!important;
}

.crafts{
background: url('../images/Crafts.jpg') no-repeat!important;
}
.design{
background: url('../images/Design.jpg') no-repeat!important;
}
.drama{
background: url('../images/Drama.jpg') no-repeat!important;
}

.crafts{
background: url('../images/Crafts.jpg') no-repeat!important;
}
.design{
background: url('../images/Design.jpg') no-repeat!important;
}
.drama{
background: url('../images/Drama.jpg') no-repeat!important;
}

.education{
background: url('../images/Education.jpg') no-repeat!important;
}
.family{
background: url('../images/Family.jpg') no-repeat!important;
}
.fiction{
background: url('../images/Fiction.jpg') no-repeat!important;
}

.foreign{
background: url('../images/Foreign.jpg') no-repeat!important;
}
.games{
background: url('../images/Games.jpg') no-repeat!important;
}
.gardening{
background: url('../images/Gardening.jpg') no-repeat!important;
}

.history{
background: url('../images/History.jpg') no-repeat!important;
}
.health{
background: url('../images/Health.jpg') no-repeat!important;
}
.house{
background: url('../images/House.jpg') no-repeat!important;
}

.humor{
background: url('../images/Humour.jpg') no-repeat!important;
}
.juvenile-nonfiction{
background: url('../images/JuvenileNonfiction.jpg') no-repeat!important;
}
.juvenile-fiction{
background: url('../images/JuvenileFiction.jpg') no-repeat!important;
}

.language{
background: url('../images/Language.jpg') no-repeat!important;
}
.law{
background: url('../images/Law.jpg') no-repeat!important;
}
.literary{
background: url('../images/Literary.jpg') no-repeat!important;
}
.literary-cri{
background: url('../images/LiteraryCri.jpg') no-repeat!important;
}

.mathematics{
background: url('../images/Mathematics.jpg') no-repeat!important;
}
.medical{
background: url('../images/Medical.jpg') no-repeat!important;
}
.music{
background: url('../images/Music.jpg') no-repeat!important;
}
.nature{
background: url('../images/Nature.jpg') no-repeat!important;
}
.performing-arts{
background: url('../images/Performing-arts.jpg') no-repeat!important;
}

.pets{
background: url('../images/Pets.jpg') no-repeat!important;
}
.philosophy{
background: url('../images/Philosophy.jpg') no-repeat!important;
}
.photography{
background: url('../images/Photography.jpg') no-repeat!important;
}
.poetry{
background: url('../images/Poetry.jpg') no-repeat!important;
}
.political-science{
background: url('../images/Political.jpg') no-repeat!important;
}
.psychology{
background: url('../images/Psychology.jpg') no-repeat!important;
}
.reference{
background: url('../images/Reference.jpg') no-repeat!important;
}

.religion{
background: url('../images/Religion.jpg') no-repeat!important;
}
.science{
background: url('../images/Science.jpg') no-repeat!important;
}
.self{
background: url('../images/Self.jpg') no-repeat!important;
}
.social-science{
background: url('../images/Social.jpg') no-repeat!important;
}

.sports{
background: url('../images/Sports.jpg') no-repeat!important;
}
.study{
background: url('../images/Study.jpg') no-repeat!important;
}
.technology{
background: url('../images/Technology.jpg') no-repeat!important;
}
.transportation{
background: url('../images/Transportation.jpg') no-repeat!important;
}
.true-crime{
background: url('../images/True-crime.jpg') no-repeat!important;
}
.travel{
background: url('../images/Travel.jpg') no-repeat!important;
}

.young-adult-fiction{
background: url('../images/young-adult-fiction.jpg') no-repeat!important;
}
.young-adult-nonfiction{
background: url('../images/young-adult-nonfiction.jpg') no-repeat!important;
}

.fl {
	float:left;
}
.fr {
	float:right;
}
.pad_none {
	padding:0 !important;
}
.pade_none {
	padding:0 !important;
}
section, footer { width:100%; float:left; }


/*SPLASH PAGE START*/
.splash-page-outer {
	/* float: left; */
	/* width: 100%; */
	/* height: 100%; */
	background: url(../images/World_Books_splash.jpg) center top no-repeat;
	/* background-position: fixed !important; */
	 background-size: 100%; 
}
.wbo-enter-site {
	float: left;
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 20px !important;
}
.wbo-enter-site a {
	color: #dec75f;
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 20px;
	font-weight: 400;
	text-align: center;
}

/*LOADER*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    /* change if the mask should have another color then white */
    
    z-index: 99999;
    /* makes sure it stays on top */
}
#status {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    /* centers the loading animation horizontally one the screen */
    
    top: 0;
    /* centers the loading animation vertically one the screen */
    
    background-image:url(../images/world_books_splash.jpg);
    /* path to your loading animation */
    
    background-repeat: no-repeat;
    background-position: center;
    margin:0;
    /* is width and height divided by two */
}

/*HEADER START*/
.main-padding { padding-left:30px !important; padding-right:30px !important; }

.home-header-main-outer-panel {
	background: url(../images/img_banner_bg.jpg) center bottom no-repeat;
	height: 860px;
	background-size: 100% 79%;
	position: relative;
}
.header-main-inner {
	background: #262626;
	height: 60px;
	z-index: 999;
	position: fixed;
}
.header-main-inner
{
}
.logo-con {
	margin-top:18px;
}
.logo-con a img {
	float: left;
	margin: 0 0 0 0px !important;
	width: 293px;
	position: relative;
	z-index: 99;
}
.banner-search-cont {
	position: absolute;
	z-index:10;
	left: 50%;
	top: 68%;
	transform: translate(-50%, -50%);
	width: 900px;
}
/*NAVABAR START*/
.navbar-main-outer .navbar-default {
	background-color: transparent;
	border-color: transparent;
}
.navbar-main-outer .collapse.navbar-collapse {
	padding: 0 !important;
	border:none;
	text-align: center;
}
.navbar-main-outer .navbar.navbar-default {
	margin: 11px 0 0;
}
.navbar ul {
	padding: 0;
	list-style: none;
	text-align: center;
	float: left;
	display: inline-block;
	width: 100%;
}
.navbar ul li {
	display: inline-block;
	position: relative;
	line-height: 21px;
	text-align: left;
	float: none;
}
.navbar ul li:first-child a
{
	padding-left:0px;
}

.navbar ul li a:last-child a
{
	padding-left:0px;
}

.navbar ul li:hover a {
    color: #f5d357;
    background: transparent;
}
.wbo-login-button-nav {
	margin: 0 3px;
}
.header-main-inner .navbar ul li a {
	display: block;
	padding: 8px 6px;
	color: #dec75f;
	text-decoration: none;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 300;
}
.header-main-inner .navbar ul li a:hover {
	color: #fff; text-decoration: none;
}
.header-main-inner ul.dropdown li a {
	background: transparent linear-gradient(to right, #fbc103 50%, #ffffff 50%) repeat scroll right bottom / 207% 100%;
	text-transform: none;
	width: 100%;
	display: block;
	transition: all .6s ease 0;
	-webkit-transition: background 350ms ease-in-out;
	transition: background 350ms ease-in-out;
}
.header-main-inner ul.dropdown li a:hover {
	background: transparent linear-gradient(to left, #ffffff 50%, #fbc103 50%) repeat scroll left bottom / 207% 100% !important;
	color: #262626 !important;
	background-position: left bottom;
}
.header-main-inner ul.dropdown i.fa {
	color: #262626;
	margin-right: 5px;
}
.header-main-inner .navbar ul li ul.dropdown {
	width: 230px;
	background: #f2f2f2;
	display: none;
	position: absolute;
	z-index: 999;
	left: 0;
	border: 5px solid rgba(0, 0, 0, 0.1);
	line-height: 30px !important;
}
.header-main-inner .navbar ul li ul.dropdown li a {
	padding: 12px 10px !important;
	width: 220px;
	margin-bottom: 0 !important;
}
.header-main-inner #nav_menu_list a i.fa {
	margin-left: 5px;
}
.header-main-inner .navbar ul li ul.dropdown li {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.navbar ul li ul.dropdown li:last-child {
	border-bottom: 0px;
	margin-bottom: 0px;
}
.navbar ul li:hover ul.dropdown {
	display: block;
}
.navbar ul li ul.dropdown li {
	display: block;
	width: 220px;
}
.wbo-subjects-drop-down {
	background: #fff;
	padding: 5px 10px;
	position: absolute;
	top: 33px;
	left:-81px;
	width: 982px;
	z-index:9999;
}
.navbar-main-outer .currency-type2 {
	border: 1px solid #dec75f;
	color: #fff;
	padding: 4px 17px 4px 6px;
	position: relative;
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	appearance: none !important;
	font-size: 12px;
	text-decoration: none;
	font-weight: 500;
	text-transform: uppercase;
	background: #dec75f url(../images/currency-header-img.png) right 10px no-repeat;
	background-size: 15px;
	margin-top: 4px;
	/* background: #fff; */
	border-radius: 29px;
	font-size: 12px;
}
.navbar-main-outer .currency-type2 option
{
	
	background:#fff;
	color:#000;
}

.privacy-policy-img.refund-img-right2 img {
	max-width: 80%;
}
.position-center
{
	text-align:center !important;
}




#magazine-sectors-drop {
	left: -330px;
	width: 726px;
}
.wbo-subjects-drop-down ul {
	 padding: 0;
	 margin: 0 5px;
	 list-style: none;
	 width: 180px;
	 float: left;
}
.wbo-subjects-drop-down li { float:left; width:100%; } 
.wbo-subjects-drop-down li a {
	float: left;
	width: 100%;
	font-weight: 300 !important;
	border-bottom: 1px solid #ececec;
	color: #000 !important;
	font-size: 12px !important;
	padding: 8px !important;
	margin: 0 !important;
	text-transform: capitalize !important;
}
.wbo-subjects-drop-down li a:hover { background: #dec75f !important; text-decoration:none; color:#fff !important; }
.wbo-subjects-drop-down li:last-child a { border-bottom:none; }


#wbo-subjects-drop  { display:none; border: 5px solid #dec75f; }
#wbo-dropdown-click-con:hover #wbo-subjects-drop { display:block; }


.wbo-login-button-nav a {
	color: #fff;
	padding: 8px 18px !important;
	border-radius: 33px;
	-webkit-border-radius: 33px;
	-moz-border-radius: 33px;
}
.header-main-inner li.wbo-login-button-nav a.wbo-login-button {
	color: #fff;
}

.wbo-login-button
{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5d357+0,f0cd53+10,ecc951+25,e9c64f+36,e4c04b+47,e0bc49+63,deb947+80,dcb746+100 */
background: #f5d357; /* Old browsers */
background: -moz-linear-gradient(top, #f5d357 0%, #f0cd53 10%, #ecc951 25%, #e9c64f 36%, #e4c04b 47%, #e0bc49 63%, #deb947 80%, #dcb746 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f5d357 0%,#f0cd53 10%,#ecc951 25%,#e9c64f 36%,#e4c04b 47%,#e0bc49 63%,#deb947 80%,#dcb746 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f5d357 0%,#f0cd53 10%,#ecc951 25%,#e9c64f 36%,#e4c04b 47%,#e0bc49 63%,#deb947 80%,#dcb746 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5d357', endColorstr='#dcb746',GradientType=0 ); /* IE6-9 */
}
.wbo-login-button:hover
{
	background:#d0d0d0 !important; color:#262626 !important;
}
.wbo-register-button { background:#d0d0d0 !important; color:#262626 !important; }
.wbo-register-button:hover {
	color:#fff !important;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5d357+0,f0cd53+10,ecc951+25,e9c64f+36,e4c04b+47,e0bc49+63,deb947+80,dcb746+100 */
background: #f5d357 !important; /* Old browsers */
background: -moz-linear-gradient(top, #f5d357 0%, #f0cd53 10%, #ecc951 25%, #e9c64f 36%, #e4c04b 47%, #e0bc49 63%, #deb947 80%, #dcb746 100%) !important; /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f5d357 0%,#f0cd53 10%,#ecc951 25%,#e9c64f 36%,#e4c04b 47%,#e0bc49 63%,#deb947 80%,#dcb746 100%) !important; /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f5d357 0%,#f0cd53 10%,#ecc951 25%,#e9c64f 36%,#e4c04b 47%,#e0bc49 63%,#deb947 80%,#dcb746 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5d357', endColorstr='#dcb746',GradientType=0  !important); /* IE6-9 */
}
.wbo-searchbar-outer { /*text-align:right;*/ margin: 20px 0 0; }
.wbo-searchbar-inner { /*float:right; width:550px;*/ padding:10px 10px 9px !important; /*border-radius:40px; -moz-border-radius:40px; -webkit-border-radius:40px;*/
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5d357+0,f0cd53+10,ecc951+25,e9c64f+36,e4c04b+47,e0bc49+63,deb947+80,dcb746+100 */
background: #f5d357; /* Old browsers */
background: -moz-linear-gradient(top, #f5d357 0%, #f0cd53 10%, #ecc951 25%, #e9c64f 36%, #e4c04b 47%, #e0bc49 63%, #deb947 80%, #dcb746 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f5d357 0%,#f0cd53 10%,#ecc951 25%,#e9c64f 36%,#e4c04b 47%,#e0bc49 63%,#deb947 80%,#dcb746 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f5d357 0%,#f0cd53 10%,#ecc951 25%,#e9c64f 36%,#e4c04b 47%,#e0bc49 63%,#deb947 80%,#dcb746 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5d357', endColorstr='#dcb746',GradientType=0 ); /* IE6-9 */
 }
.wbo-search-con {
	padding: 8px 16px !important;
	border: none;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	background: #fff;
}
.banner-search-cont .wbo-search-con input[type="text"] {
	width: 90%;
}
.wbo-search-con input[type="text"] { background:#fff; border:none; width:80%; float:left; font-size:13px; color:#9d9d9d; font-weight:300; line-height: 21px; }
.wbo-search-con input[type="text"]::-webkit-input-placeholder { /* Chrome */
  color: #9d9d9d !important;
}
.wbo-search-con input[type="text"]:-ms-input-placeholder { /* IE 10+ */
  color: #9d9d9d !important;
}
.wbo-search-con input[type="text"]::-moz-placeholder { /* Firefox 19+ */
  color: #9d9d9d !important;
  opacity: 1;
}
.wbo-search-con input[type="text"]:-moz-placeholder { /* Firefox 4 - 18 */
  color: #9d9d9d !important;
  opacity: 1;
}
.wbo-search-con button {
	background: transparent;
	border: none; padding: 0; float: right;
}
.wbo-search-con .fa-search::before {
	content: "\f002";
	color: #dcdcdc;
	font-size: 18px;
	line-height: 23px;
	vertical-align: sub;
}
.wbo-searchbar-select select
{
	width:100%;
	font-size:13px; color:#9d9d9d; font-weight:300;
	background:#fff;
	padding:10px;   border:none;  border-radius:20px; -moz-border-radius:20px; -webkit-border-radius:20px; 
background:#fff url(../images/img_select_arrow.png) right 16px no-repeat;
	-webkit-appearance: none !important;
   -moz-appearance:    none !important;
   appearance:       none !important;
}
.wbo-search-con-outer { padding-left:10px !important; }
/*HEADER END*/

/*WBO 4 BOXESE*/

.inner-pages-banner-right {
	margin: 60px 0 0;
}
.inner-pages-banner-right h2 {
	font-size: 40px;
	color: #303030;
	line-height: 43px;
	font-weight: 900;
	margin: 0;
	text-transform: uppercase;
	text-align: left;
	float: left;
	width: 100%;
}
.wbo-boxes-main-inner
{
	padding:0 12px !important;
}
.wbo-boxes-main
{
	padding:40px 30px 48px !important;
    -moz-box-shadow: -1px -2px 10px #e2e2e2;
    -webkit-box-shadow: -1px -2px 10px #e2e2e2;
    box-shadow: -1px -2px 10px #e2e2e2;
	text-align:center;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.wbo-boxes-main h3
{
	font-size:17px;
	color:#252525;
	line-height:20px;
	font-weight:700;
	margin:30px 0 15px;
	text-transform:uppercase; min-height: 30px;
}
.wbo-boxes-main p
{
	font-size:16px;
	color:#272727;
	line-height:22px;
	font-weight:300;
	min-height: 80px;
float: left;
width: 100%;
}
.wbo-boxes-main a
{
	font-size:14px;
	color:#8b8b8b;
	line-height:18px;
	font-weight:700;
	border:3px solid #ececec;
	padding:15px 36px; 
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	text-transform:uppercase;
}
.wbo-boxes-main a:hover
{
	color:#fff;
	text-decoration:none;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5d357+0,f0cd53+10,ecc951+25,e9c64f+36,e4c04b+47,e0bc49+63,deb947+80,dcb746+100 */
background: #f5d357; /* Old browsers */
background: -moz-linear-gradient(top, #f5d357 0%, #f0cd53 10%, #ecc951 25%, #e9c64f 36%, #e4c04b 47%, #e0bc49 63%, #deb947 80%, #dcb746 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f5d357 0%,#f0cd53 10%,#ecc951 25%,#e9c64f 36%,#e4c04b 47%,#e0bc49 63%,#deb947 80%,#dcb746 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f5d357 0%,#f0cd53 10%,#ecc951 25%,#e9c64f 36%,#e4c04b 47%,#e0bc49 63%,#deb947 80%,#dcb746 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5d357', endColorstr='#dcb746',GradientType=0 ); /* IE6-9 */
border:3px solid #dcb745;
}
/*WBO 4 BOXESE*/

/*WELCOME TO BOOK STORE SECTION START*/
.welcome-bookstore-bg-outer {
	/* background: #f2f2f2; */
	padding-top: 120px !important;
	padding-bottom: 60px !important;
}
.welcome-bookstore-main-outer h1 {
	font-size: 66px;
	color: #262626;
	line-height: 83px;
	font-weight: 900;
	margin: 0px 0 25px;
	text-transform: uppercase;
	text-align: center;
	float: left;
	width: 100%;
}
.welcome-bookstore-main-outer h1 span {
	color: #dec75f;
	/*font-size: 26px;
	float: left;
	width: 100%;
	line-height: 30px;*/
}
.welcome-bookstore-bg-outer p {
	font-size: 20px;
	color: #272727;
	line-height: 35px;
	font-weight: 300;
	float: left;
	width: 100%;
	text-align: center;
	margin-bottom: 15px;
}
.welcome-bookstore-bg-outer p strong
{
	float:left;
	width:100%;
}
.bookstore-picture-outer
{
	padding:10px !important;
}
.bookstore-picture-outer a
{
	float: left;
	width: 100%;
	-moz-box-shadow: 0px 9px 5px #dcdcdc;
-webkit-box-shadow: 0px 9px 5px #dcdcdc;
box-shadow: 0px 9px 5px #dcdcdc;
}
/*WELCOME TO BOOK STORE SECTION END*/

/*WELCOME TO BOOK STORE PICTURE SECTION END*/
.bookstore-picture-main-panel
{
	padding:0 0 90px;
}
.bookstore-pic-con { overflow:hidden; position:relative;  }
.bookstore-pic-con h4 {
	position: absolute;
	bottom: 0;
	float: left;
	width: 100%;
	/*background:url(../images/img_transparent_bg.png) left bottom repeat-x;*/
	z-index: 99;
}
.bookstore-pic-con img { width:100%;  -webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
 -o-transition: all 0.5s ease;
   transition: all 0.5s ease;
   }
   
.bookstore-pic-con:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.bookstore-pic-con::before {
	content: "";
	width: 100%;
	height: 100%;
	/*background: linear-gradient(to top, rgba(0, 0, 0, 0.72) 14%, rgba(0, 0, 0, 0.08) 35%);*/
	background:url(../images/img_transparent_bg.png) left bottom repeat-x;
	z-index: 99;
	position:absolute;
	left:0;
	top:0;
}
/*.bookstore-pic-con:hover:before { display:none; }*/
.bookstore-picture-inner span {
	float: left;
	width: 100%;
	font-size: 19px;
	line-height: 20px;
	font-weight: 50;
	padding: 14px;
	color: #000;
	z-index: 99;
	position: relative;
	font-weight: 600;
}

/*WELCOME TO BOOK STORE PICTURE  SECTION END*/

/*Shop online or email us starts*/
.shop-online-email-us {
	float: left;
	width: 100%;
}
.books-lib-img {
	float: left;
	width: 100%;
}
.books-lib-img img {
	float: left;
	width: 100%;
}
.book-lib-heading {
	float: left;
	width: 100%;
	padding: 20px 0;
	background:#262626;
}
.lib-heading-otr {
	float:left;
	width:100%;
}
.lib-heading-otr {
	color: #fff;
	font-size: 40px;
	line-height: 50px;
	vertical-align: middle;
	text-align: center;
	font-weight: 700;
	letter-spacing: 1px;
}
.lib-heading-otr span {
	color: #fdb714;
}
/*Shop online or email us ends*/

/*WBO WIDE RANGE SECTION*/
.wbo-listing-wide-main-panel {
	float: left;
	width: 100%;
	background: #f2f2f2;
	padding: 10px 0;
	height: 70px;
}
.wbo-search-keywords-main ul { text-align:center; padding:0; margin:0; list-style:none; }
.wbo-search-keywords-main li {
	float: none;
	display: inline-block; position:relative
}
.wbo-search-keywords-main li a {
	float: left;
	margin: 0 18px;
	color: #505050;
	font-size: 16px;
	line-height: 52px;
	text-decoration: none;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	/* padding-right: 25px !important; */
	/* text-shadow: 0px 1px 1px #000000; */
	text-transform: uppercase;
}
.wbo-search-keywords-main li a:hover {
	color:#dec75f; text-decoration:none;
}
.wbo-search-keywords-main li::after {
	content: "";
	width: 2px;
	height: 17px;
	right: 0;
	top: 18px;
	position: absolute;
	background: #A0A0A0;
}
.wbo-search-keywords-main li:last-child:after { background:none; padding-right:0; }
/*WBO WIDE RANGE SECTION end*/

/*FOOTER START*/

footer {
	background: #262626;
	text-align: left;
}
.wbo-footer-listing-outer
{
	padding-top:60px !important; padding-bottom:60px !important;
}
.wbo-footer-listing-con ul
{
	margin:0;
	padding:0;
	list-style:none;
}
.wbo-footer-listing-con li
{
	float:left;
	width:100%;
}
.wbo-footer-listing-con li a
{
	float:left;
	width:100%;
	font-size:13px;
	color:#f2f2f2;
	line-height:31px;
	font-weight:300;
	text-decoration:none;
	position:relative;
	padding-left:15px;
	text-align:left;
}
.wbo-footer-listing-con li a:hover
{
	color:#dec75f;
	text-decoration:underline;
}
.wbo-footer-listing-con li a::before {
	content: "";
	width: 6px;
	height: 6px;
	background: #f2f2f2;
	position: absolute;
	top: 14px;
	left: 0;
	/* border-radius: 100%; */
	/* -moz-border-radius: 100%; */
	/* -webkit-border-radius: 100%; */
}
.wbo-footer-listing-con li:hover a::before {
	background: #dec75f;
}

.footer-bottom-part {
	float: left;
	width: 100%;
	padding: 50px 0 0 0;
}
.footer-bott-part h4 {
	color:#fff;
	font-size: 20px;
	line-height:24px;
	font-weight: 400;
	margin:0 0 15px 0;
}
.options-otr {
	float:left;
	width:100%;
}
.options-otr a {
	float:left;
	width:50px;
	margin:0 10px 0 0;
}
.options-otr a img {
	float:left;
	width:100%;
}
.bottom-footer-cont {
	float:left;
	width:100%;
}
.bottom-footer-cont p {
	font-size: 13px;
	color: #f2f2f2;
	line-height: 16px;
	font-weight: 300;
	text-decoration: none;
	position: relative;
	padding: 0 0 10px;
}
.bottom-footer-cont p a {
	color:#fff;
}
.footer-social-cont {
	float:left;
	width:100%;
}
.footer-social-cont ul {
	float:left;
	width:100%;
}
.footer-social-cont ul li {
	float:left;
	width:auto;
	margin:0 5px 0 0;
}
.footer-social-cont ul li a {
	float:left;
	width:30px;
	height:30px;
	text-align: center;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
}
.footer-social-cont ul li a i {
	color: #fff;
	font-size: 15px;
	margin: 8px 0 0 0;
}
.footer-social-cont ul li:nth-child(1) a {
	background: #3b5998;
}
.footer-social-cont ul li:nth-child(2) a {
	background: #dd4b39;
}
.footer-social-cont ul li:nth-child(3) a {
	background: #1da1f2;
}
.footer-social-cont ul li:nth-child(4) a {
	background: #0077b5;
}
.footer-social-cont ul li:nth-child(5) a {
	background: #bb0000;
}
.footer-social-cont ul li:nth-child(6) a {
	background: #34af23;
}

.wbo-copyright-outer {
	background: #262626;
	padding: 20px !important;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	color: #fff;
	border-top: 1px solid #353535;
}
/*FOOTER END*/

.create-world-bookstore-account-panel
{
	background:#f6f6f6 url(../images/city.png) left bottom repeat-x; background-size: 100%;
position: relative;
overflow: hidden;
padding: 60px 0;
}

.create-world-bookstore-account-panel h2
{
font-size: 40px;
color: #262626;
line-height: 43px;
font-weight: 900;
margin: 0px 0 45px;
text-transform: uppercase;
text-align: center;
float: left;
width: 100%;
}
.create-world-bookstore-account-panel h2 span
{
	color: #262626;
	float:left; width:100%;
	font-size:18px;
	font-weight:400;
}
.create-world-bookstore-account-panel h3 {
	font-size: 29px;
	color: #262626;
	line-height: 35px;
	font-weight: 700;
	margin: 0px 0 20px;
	float: left;
	width: 100%;
}

.create-world-bookstore-account-inner form {
	float: left;
	width: 100%;
	padding: 30px;
	background: #eaedef;
}
.create-world-bookstore-account-inner form input
{
	float:left;
	width:100%;
	font-size:16px;
	color:#2d2d2d;
	line-height:20px;
	height: 45px;
	background:#fff;
	border:1px solid #e8e8e8;
	margin-bottom:6px;
	padding:5px 13px;
}
.create-world-bookstore-account-inner form select
{
	float:left;
	width:100%;
	font-size:16px;
	color:#2d2d2d;
	line-height:20px;
	height: 45px;
	border:1px solid #e8e8e8;
	margin-bottom:6px;
	padding:5px 10px;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	background:#fff url(../images/img_select_arrow.png) right 18px no-repeat;
}
.create-world-bookstore-account-inner form textarea
{
	float:left;
	width:100%;
	font-size:16px;
	color:#2d2d2d;
	line-height:20px;
	height: 100px;
	background:#fff;
	border:1px solid #e8e8e8;
	margin-bottom:6px;
	padding:5px 13px;
}
.create-world-bookstore-account-inner form input::-webkit-input-placeholder { /* Chrome */
  color: #2d2d2d !important;
}
.create-world-bookstore-account-inner form input:-ms-input-placeholder { /* IE 10+ */
  color: #2d2d2d !important;
}
.create-world-bookstore-account-inner form input::-moz-placeholder { /* Firefox 19+ */
  color: #2d2d2d !important;
  opacity: 1;
}
.create-world-bookstore-account-inner form input:-moz-placeholder { /* Firefox 4 - 18 */
  color: #2d2d2d !important;
  opacity: 1;
}
.create-world-bookstore-account-inner form textarea::-webkit-input-placeholder { /* Chrome */
  color: #2d2d2d !important;
}
.create-world-bookstore-account-inner form textarea:-ms-input-placeholder { /* IE 10+ */
  color: #2d2d2d !important;
}
.create-world-bookstore-account-inner form textarea::-moz-placeholder { /* Firefox 19+ */
  color: #2d2d2d !important;
  opacity: 1;
}
.create-world-bookstore-account-inner form textarea:-moz-placeholder { /* Firefox 4 - 18 */
  color: #2d2d2d !important;
  opacity: 1;
}
.create-world-bookstore-account-inner form button
{
	float:left;
	width:100%;
	font-size:16px;
	color:#2d2d2d;
	line-height:20px;
	height: 45px;
	background:#fff;
	border:1px solid #e8e8e8;
	margin-bottom:6px;
	font-weight:600;
	padding:5px 17px;
	text-transform:uppercase;
	background: #f5d357; /* Old browsers */
background: -moz-linear-gradient(top, #f5d357 0%, #f0cd53 10%, #ecc951 25%, #e9c64f 36%, #e4c04b 47%, #e0bc49 63%, #deb947 80%, #dcb746 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f5d357 0%,#f0cd53 10%,#ecc951 25%,#e9c64f 36%,#e4c04b 47%,#e0bc49 63%,#deb947 80%,#dcb746 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f5d357 0%,#f0cd53 10%,#ecc951 25%,#e9c64f 36%,#e4c04b 47%,#e0bc49 63%,#deb947 80%,#dcb746 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5d357', endColorstr='#dcb746',GradientType=0 ); /* IE6-9 */
}
.create-world-bookstore-account-inner form button:hover
{
	color:#fff;
	background:#2d2d2d;
}
.create-world-bookstore-account-leftbar {
	padding-right: 20px !important;
}
.create-world-bookstore-account-rightbar {
	padding-left: 20px !important;
}
.create-world-bookstore-account-inner ul
{
	margin:0; padding:0;
	list-style:none;
}
.create-world-bookstore-account-inner li
{
	float:left;
	width:100%;
	font-size:15px;
	font-weight:400;
	color:#2d2d2d;
	margin-bottom:15px;
	position:relative;
	padding-left:25px;
}
.create-world-bookstore-account-inner li:before
{
	content:"";
	width:15px;
	height:15px;
	background:#dbb752;
	position:absolute;
	left:0;
	top:4px;
}
.create-world-bookstore-account-inner input[type="checkbox"] {
    display:none;
}

.create-world-bookstore-account-inner input[type="checkbox"] + label {
	display: inline-block;
	width: 100%;
	height: 24px;
	margin: 10px 4px 0 0;
	vertical-align: middle;
	background: url(../images/img_checkbox_pic.png) left 2px no-repeat;
	cursor: pointer;
	padding-left: 30px;
	font-size: 13px;
	font-weight: 400;
}
.create-world-bookstore-account-inner input[type="checkbox"]:checked + label  {
    background:url(../images/img_checkbox_pic_hover.png) left 2px no-repeat;
}

.create-world-bookstore-account-bottom {
	margin-top: 40px;
}
.worldwide-ship-con { float:left; font-size:12px; color:#5c5c5c; font-weight:300; text-transform:uppercase; line-height:32px; }
.worldwide-ship-con img { margin-right:5px; }
.worldwide-currency-con {
	float: left;
	margin: 0 12px;
	border: 1px solid #d2d2d2;
	padding: 5px;
	border-radius: 50px;
	width: 100px;
}
.worldwide-currency-con select
{
	float:left; width:100%; border:none; background:#fff; background:url(../images/img_select_cart_icon.png) right 6px no-repeat;
font-size:12px; color:#5c5c5c; font-weight:300; text-transform:uppercase; -webkit-appearance: none !important;
   -moz-appearance:    none !important;
   appearance:       none !important;
}
.worldwide-cart-con { float:left; font-size:12px; color:#5c5c5c; font-weight:300; text-transform:uppercase;}
.worlwide-outer-con {
	margin: 12px 0;
	float: right;
	text-align: right;
	padding-left: 25px !important;
}
.worldwide-cart-con img { margin-right:8px; }
.worldwide-cart-con { position:relative; }
.cart-product-con {
	position: absolute;
	top: -7px;
	left: 24px;
	width: 20px;
	border-radius: 100%;
	background: #d6b14f;
	padding: 0px 5px;
	font-size: 11px;
	color: #fff;
	font-weight: 300;
	height: 20px;
	text-align: center;
	line-height: 20px;
}.wbo-cart-separator {
	margin: 0 6px;
}
.wbo-cart-shipping-panel {
	float: right;
	padding: 2px 15px 0 !important;
	width: 73%;
}

/*INNER PAGES START*/
.banner-inner-pages-panel {
	text-align: center;
	height: 689px;
	background-size: cover !important;
	position: relative;
}
.banner-inner-pages-panel h1 {
	font-size: 60px;
	color: #fff;
	line-height: 30px;
	font-weight: 900;
	margin: 0px;
	text-transform: uppercase;
	text-align: center;
	float: left;
	width: 100%;
	height: 320px;
	display: table;
}
.banner-inner-pages-panel h1 span {
	display: table-cell;
	vertical-align: middle;
}
.product-page-banner-con
{
	background:url(../images/img_product_page_banner.jpg) left top no-repeat;
}
.category-page-banner-con
{
		/*background:url(../images/category-banner-bg.jpg) left bottom no-repeat;*/
		background-size:100% !important;
}
.inner-pages-wbo-boxes-main-outer { margin:60px 0; }

.product-table-main-outer-panel h2
{
	font-size: 35px;
	color: #262626;
	line-height: 30px;
	font-weight: 700;
	margin: 0px;
	text-align:center;
}

.architecture-book-main-outer { background:#f6f6f6; padding:80px 0; text-align:center; }
.product-banner-right-heading { display: table; padding:40px 0 0 50px; }
.product-banner-right-heading h2 {
	font-size: 32px;
	color: #262626;
	line-height: 40px;
	font-weight: 700;
	margin: 0px;
	display: table-cell;
	height: 168px;
	vertical-align: middle;
}
.architecture-book-main-inner h2 {
	font-size: 50px;
	font-weight: bold;
}
.architecture-book-main-outer h2 span {
	font-size: 27px;
	color: #232323;
	line-height: 30px;
	font-weight: 300;
	float: left;
	width: 100%;
	margin: 20px 0 0;
	padding: 0 100px;
}
.search-form-in-inner {
	text-align: center;
	margin: 30px 0 0 0;
}
.search-form-in-inner .wbo-searchbar-inner {
	float: none;
	width: 900px;
	display: inline-block;
}
.adaptive-resues-main-outer-panel
{
	background:#fff; padding: 90px 0;
}
.architecture-book-main-inner h3
{
	font-size: 36px;
	color: #252525;
	line-height: 30px;
	font-weight: 400;
}
.adaptive-resues-main-outer-panel ul { margin:0; padding:0; list-style:none; }
.adaptive-resues-main-outer-panel li {
	float: left;
	width: 31.7%;
	margin: 10px;
}
.adaptive-resues-main-outer-panel li a {
	float: left;
	width: 100%;
	padding: 13px;
	border: 2px solid #eeecec;
	border-radius: 3px;
	text-decoration: none;
	color: #525252;
	font-size: 16px;
	font-weight: 500;
}
.adaptive-resues-main-outer-panel li a:hover { border:2px solid #dec75f; border-radius:3px; text-decoration:none; color:#dec75f; }
.category-bottom-buttons { text-align:center; margin: 40px 0 0;  }
.category-bottom-buttons a { 
	font-size: 14px;
	color: #8b8b8b;
	line-height: 18px;
	font-weight: 700;
	border: 3px solid #ececec;
	padding: 15px 36px;
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	text-transform: uppercase; margin: 0 10px;
}
.category-bottom-buttons a:hover {
	color: #fff;
	text-decoration: none;
	background: #f5d357;
	background: -moz-linear-gradient(top, #f5d357 0%, #f0cd53 10%, #ecc951 25%, #e9c64f 36%, #e4c04b 47%, #e0bc49 63%, #deb947 80%, #dcb746 100%);
	background: -webkit-linear-gradient(top, #f5d357 0%,#f0cd53 10%,#ecc951 25%,#e9c64f 36%,#e4c04b 47%,#e0bc49 63%,#deb947 80%,#dcb746 100%);
	background: linear-gradient(to bottom, #f5d357 0%,#f0cd53 10%,#ecc951 25%,#e9c64f 36%,#e4c04b 47%,#e0bc49 63%,#deb947 80%,#dcb746 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5d357', endColorstr='#dcb746',GradientType=0 );
	border: 3px solid #dcb745;
}

.product-table-main-outer-panel {
	 background: #f4f4f4;
	 padding: 30px 0 60px;
	 margin-top: 20px!important;
}
.product-table-con {
	padding: 30px !important;
	background: #fff;
	border: 1px solid #d6d6d6;
	margin: 30px 0;
}
.product-table-main-inner { padding:0 30px !important; }
.product-table-main-outer-panel h2
{
	font-size: 35px;
	color: #262626;
	line-height: 30px;
	font-weight: 700;
	margin: 0px;
	text-align:center;
}
.product-table-con table tr { background:#e5e5e5; }
.product-table-con table tr:nth-child(even) 
{
	background:#f1f1f1;
}
.product-table-con table th { text-transform:uppercase; border-right:1px solid #d6d6d6; }
.product-table-con table td, .product-table-con table th { padding:12px 10px;  }
.product-table-con table td
{
	color:#242424; font-size:12px; font-weight:400;  border-top:1px solid #d6d6d6; border-right:1px solid #d6d6d6;
}
.product-table-con table th:last-child, .product-table-con table td:last-child { border-right:none; }
.product-add-to-cart-button { width:120px; }
.product-add-to-cart-button  a{
	padding:8px 15px; color:#242424; text-decoration:none;
	border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px;
    background: #f5d357;
    background: -moz-linear-gradient(top, #f5d357 0%, #f0cd53 10%, #ecc951 25%, #e9c64f 36%, #e4c04b 47%, #e0bc49 63%, #deb947 80%, #dcb746 100%);
    background: -webkit-linear-gradient(top, #f5d357 0%,#f0cd53 10%,#ecc951 25%,#e9c64f 36%,#e4c04b 47%,#e0bc49 63%,#deb947 80%,#dcb746 100%);
    background: linear-gradient(to bottom, #f5d357 0%,#f0cd53 10%,#ecc951 25%,#e9c64f 36%,#e4c04b 47%,#e0bc49 63%,#deb947 80%,#dcb746 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5d357', endColorstr='#dcb746',GradientType=0 );
}
.product-add-to-cart-button a:hover{
 color:#242424; text-decoration:none;
    background: #f5d357;
    background: -moz-linear-gradient(top, #f5d357 0%, #f0cd53 10%, #ecc951 25%, #e9c64f 36%, #e4c04b 47%, #e0bc49 63%, #deb947 80%, #dcb746 100%);
    background: -webkit-linear-gradient(top, #f5d357 0%,#f0cd53 10%,#ecc951 25%,#e9c64f 36%,#e4c04b 47%,#e0bc49 63%,#deb947 80%,#dcb746 100%);
    background: linear-gradient(to bottom, #f5d357 0%,#f0cd53 10%,#ecc951 25%,#e9c64f 36%,#e4c04b 47%,#e0bc49 63%,#deb947 80%,#dcb746 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5d357', endColorstr='#dcb746',GradientType=0 );
}

/*TABS*/
.product-table-con .panel-default > .panel-heading, .product-table-con .panel-default  {
	background-color: transparent;
	border-color: transparent; box-shadow:none !important;
}
.product-table-con .nav-tabs {
	border-bottom: none;
}
.product-table-con .nav-tabs > li {
	margin-bottom: -1px;
	margin-right: 2px;
}
.product-table-con .nav-tabs > li > a {
float:left; font-size:16px; color:#242424; font-weight:500; line-height:30px; text-align:center; text-transform:uppercase; background:#ececec; border: transparent !important;
}
.header-main-inner .product-table-con .nav-tabs > li > a:hover
{
	background: #e1e1e1;
	 color:#242424;
}
.header-main-inner  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #fff;
	background-color: transparent;
}
.header-main-inner .product-table-con .nav-tabs > li.active > a
{
	background: #f5d357; border: 1px solid transparent;
	 color:#242424;
    background: -moz-linear-gradient(top, #f5d357 0%, #f0cd53 10%, #ecc951 25%, #e9c64f 36%, #e4c04b 47%, #e0bc49 63%, #deb947 80%, #dcb746 100%);
    background: -webkit-linear-gradient(top, #f5d357 0%,#f0cd53 10%,#ecc951 25%,#e9c64f 36%,#e4c04b 47%,#e0bc49 63%,#deb947 80%,#dcb746 100%);
    background: linear-gradient(to bottom, #f5d357 0%,#f0cd53 10%,#ecc951 25%,#e9c64f 36%,#e4c04b 47%,#e0bc49 63%,#deb947 80%,#dcb746 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5d357', endColorstr='#dcb746',GradientType=0 );
	border:none !important;
}
.product-table-con .panel-heading, .product-table-con .panel-body {
	padding: 0;
}
.wbo-product-detail-main-outer {
	margin-bottom: 50px;
}
.more_content_show
{
	display:none;
}
.wbo-product-detail-left img {
	width: 100%;
}
.wbo-product-detail-main-outer h3 {
	font-size: 32px;
	color: #262626;
	line-height: 36px;
	font-weight: 700;
	margin: 0 0 40px;
}
.wbo-product-detail-right {
	padding-left: 50px !important;
}
.wbo-product-detail-heading {
	font-size: 17px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: right;
}
.wbo-product-detail-text {
	font-size: 15px;
	color: #232323;
	font-weight: 400;
	line-height: 22px;
}
.wbo-product-detail-outer {
	margin-bottom: 11px;
}
.more_content, .minus_content, .more_content:hover, .minus_content:hover {
	font-weight: 700;
	color: #dec75f; text-decoration:none; margin-left:5px;
}

.wbo-catalog-table-outer table th
{
	text-transform: uppercase;
	border-right: 1px solid #d6d6d6;
}
.wbo-catalog-table-outer table tr {
	background: #e5e5e5;
}
.wbo-catalog-table-outer table tr:nth-child(2n) {
	background: #f1f1f1;
}
.wbo-catalog-table-outer table td {
	color: #242424;
	font-size: 12px;
	font-weight: 400;
	border-top: 1px solid #d6d6d6;
	border-right: 1px solid #d6d6d6;
}
.wbo-catalog-table-outer table td:first-child
{
	font-weight:500; text-align:right; padding-right:20px;
}
.Product-detail-title-con {
	width: 300px;
	position:relative;
}
.Product-detail-title-con a { color: #242424; text-decoration:none; }
.Product-detail-title-con a:hover { color: #dec75f; text-decoration:none; }
.Product-detail-title-con .product-tooltip-text {	background: rgba(0,0,0,0.9);	padding: 20px;	visibility: hidden;	position: absolute;	left: 10px;	bottom: 61px;	color: #fff;}
.Product-detail-title-con .product-tooltip-text::before {
	position: absolute;
	content: "";
	left: 45%;
	bottom: -20px;
	border-top: 10px solid  rgba(0,0,0,0.9);
	border-left: 10px solid transparent;
	width: 10px;
	height: 10px;
	border-right: 10px solid transparent;
	border-bottom: 10px solid transparent;
}.Product-detail-title-con a:hover .product-tooltip-text { visibility: visible; }

.wbo-boxes-main-outer {
	padding: 80px 0;
}
.boxes-on-home {
	padding:0;
}
.slider-main-outer
{
	background:#000;
}

/*Scroll to top starts*/
.back-to-top {
	position: fixed;
	z-index: 9999;
	bottom: 20px;
	right: 20px;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.3);
	outline: none;
	display: none;
}
.back-to-top i {
	float: left;
	color: #fff;
	font-size: 40px;
	padding: 6px 12px;
}
.back-to-top:hover {	
	background-color: rgba(0, 0, 0, 0.8);
}
/*Scroll to top ends*/

/*FAQ START*/
.faq-page-banner-con { background:url(../images/faq-banner-bg-new.jpg) left top no-repeat; background-size:100%; }
.faq-acordion-outer { float:left; width:100%; } 
.faq-acordion-outer .faq-acordion-inner { padding-top:60px; padding-bottom:80px; }
.faq-acordion-outer .panel-body img { float: left; max-width: 200px; margin: 0 20px 20px 0; }
.faq-acordion-outer .panel-body  .faq-acordion-books-img img { width:100%; max-width:100%; } 
.faq-acordion-outer .panel-title > a { display: block; padding: 6px 15px; text-decoration: none; font-size: 18px;}
.faq-acordion-outer .short-full { float: right; color: #fff; }
.faq-acordion-outer .panel-default > .panel-heading { color: #fff; background-color: #262626; }
.faq-acordion-outer .panel-default > .panel-heading:hover { color: #dec75f;}
.faq-acordion-outer .panel-default > .panel-heading:hover .short-full  { color: #dec75f;}
.accordion-content {display: table-cell;vertical-align: middle;height: 180px; }
.faq-acordion-inner .panel-body p { color: #2d2d2d;font-size: 20px; line-height: 26px; }
.faq-acordion-inner .panel-body p a {color:#dec75f;}
/*FAQ END*/

/*About START*/
section.about-slider {
	float: left;
	width: 100%;
	margin: 0;
}

.about-banner01
{
	float:left;
	width:100%;
	background: url(../images/aboutbanner-slider-img2.jpg) center top no-repeat  ;
	background-size: 100% !important;
	height:580px;
}
.about-banner01.about-banner02
{
	background: url(../images/aboutbanner-slider-img2a.jpg) center bottom no-repeat  ;
}

.about-banner01.about-banner03
{
	background: url(../images/aboutbanner-slider-img1.jpg) center bottom no-repeat  ;
}

.about-banner01.about-banner04
{
	background: url(../images/aboutbanner-slider-img4.jpg) center top no-repeat  ;
}

.about-banner01.about-banner05
{
	background: url(../images/aboutbanner-slider-img5.jpg) center bottom no-repeat  ;
}



.header-main-outer-panel.home-header-main-outer-panel.about-us-sec {
	background: no-repeat;
	height: 54px;
}

.wide-range-books-main
{
	float: left;
	width: 100%;
	background: url(../images/wide-range-books-main-img.jpg) no-repeat center fixed;
	background-size: cover !important;
	padding: 100px 0;
	margin-top: -1px;
}

.wide-range-books-main.service-online2
{
	background: url(../images/customer-service-online-img1.jpg) no-repeat center fixed;
}

.wide-range-books-main.team-Professionals
{
	background: url(../images/team-Professionals-img-about-us.jpg) no-repeat center fixed;
}
.wide-range-books-main.we-take-care
{
	background: url(../images/we-take-care-bg-about-us.jpg) no-repeat center fixed;
}

.wide-range-books-main.publications-from
{
	background: url(../images/publications-from-b-img-about-us.jpg) no-repeat center fixed;
}

.wide-range-books-main.dedicated-customer-services
{
	background: url(../images/dedicated-customer-services-bg-about-us.jpg) no-repeat center fixed;
}

.wide-range-books-main.order-books
{
	background: url(../images/order-books-services-about-us-bg.jpg) no-repeat center fixed;
}





.wide-range-books-inner
{
	text-align:center;
}

.wide-range-books-first
{
	float: left;
	width: 100%;
	text-align: center;
}
.wide-range-books-first h2 {
 font-size: 43px;
 color: #fff;
 line-height: 50px;
 font-weight: 700;
 margin: 4px 0 18px 0;
 text-shadow: 7px 3px 5px #000;
 text-transform: uppercase;
}
.wide-range-books-first strong {
 display: block;
 font-size: 16px;
 color: #fff;
 text-shadow: 2px 3px 2px #000;
}
.wide-range-books-first p {
	width: 100%;
	font-size: 20px;
	font-weight: 400;
	color: #fff;
	margin-bottom: 20px;
	padding: 0 8%;
	text-shadow: 1px 0px 9px #000;
	line-height: 32px;
}
.wide-range-books-first a {
	float: none;
	display:inline-block;
	font-size: 16px;
	border:0px;
	color: #fff;
	line-height: 30px;
	border:0px !important;
	border-radius:30px;
	background: #fff;
	margin-top: 12px;
	font-weight: 500;
	padding: 5px 40px;
	text-transform: uppercase;
	background: #f5d357;
	background: -moz-linear-gradient(top, #f5d357 0%, #f0cd53 10%, #ecc951 25%, #e9c64f 36%, #e4c04b 47%, #e0bc49 63%, #deb947 80%, #dcb746 100%);
	background: -webkit-linear-gradient(top, #f5d357 0%,#f0cd53 10%,#ecc951 25%,#e9c64f 36%,#e4c04b 47%,#e0bc49 63%,#deb947 80%,#dcb746 100%);
	background: linear-gradient(to bottom, #f5d357 0%,#f0cd53 10%,#ecc951 25%,#e9c64f 36%,#e4c04b 47%,#e0bc49 63%,#deb947 80%,#dcb746 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5d357', endColorstr='#dcb746',GradientType=0 );
}

.wide-range-books-first a:hover {
	color:#262626 ;
	background: #d0d0d0;
	text-decoration:none;
	border:0px;
}

.wide-range-books-first span.glad-your-service-text {
	width: 100%;
	float: left;
	font-size: 20px;
	font-weight: 400;
	color: #fff;
	margin-top: 40px;
	font-style: italic;
}

/*About END*/

.inner-pages-search.banner-search-cont {
	top: 60%;
}

/*Payment Method START*/


.inner-pages-outer {
	float:left;
	width:100%;
	padding: 60px 0;
}
.payment-method-banner {
	background:url(../images/payment-method-bg.jpg) center top no-repeat;
	background-size:100%;
}
.publisher-banner-outer {
	background: url(../images/publisher-banner-bg.jpg) center top no-repeat;
	background-size: 100% !important;
	height: 540px;
}
.publisher-content-part
{
	margin:70px 0 0;
}
.publisher-content-first {
	margin: 0 0 40px;
}
.publisher-content-first strong {
	display: inline-block;
	margin: 15px 33px 10px 30px;
    font-size: 50px;
	font-weight: 600;
	color: #000;
	background: #e8c54a;
	line-height: 79px;
	padding: 0;
	float: left;
	width: 80px;
	border-radius: 50%;
	height: 80px;
	text-align: center;
}
.publisher-content-first ul {
	padding: 10px 0 0;
	margin: 0 0 50px;
	float: left;
	width: 80%;
}
.publisher-content-first ul li {
	font-size: 16px;
	line-height: 26px;
	width: 33.3%;
	float: left;
	padding: 6px!important;
}
.cont-payment-methods h2 {
	font-size: 40px;
	color: #303030;
	line-height: 43px;
	font-weight: 900;
	margin: 0;
	text-transform: uppercase;
	text-align: left;
	float: left;
	width: 100%;
}
.cont-payment-methods h5 {
	font-size: 21px;
	color: #262626;
	line-height: 28px;
	font-weight: 300;
	margin: 10px 0 0 0;
	text-align: left;
	float: left;
	width: 100%;
}
.payment-list ul {
	float:left;
	width:100%;
	margin:45px 0 0 0;
}
.payment-list ul li {
	float: left;
	width: 100%;
	position: relative;
	font-size: 18px;
	font-weight: 400;
	color: #2d2d2d;
	margin-bottom: 20px;
	position: relative;
	padding-left: 40px;
}
.payment-list ul li::before {
	content: "";
	width: 15px;
	height: 15px;
	background: #dbb752;
	position: absolute;
	left: 0;
	top: 6px;
}
/*Payment Method END*/

/*Register with us starts*/

.banner-inner-pages-panel.register-banner {
	background:url(../images/register-page-bg.jpg) center top no-repeat;
	background-size:100% auto !important;
	height: 590px;
}
.register-content-otr {
	margin: 50px 0 0 0;
}
.bookstore-benefits {
	padding:0 20px 0 0;
}
.bookstore-benefits h3 {
	font-size: 28px;
	color: #262626;
	line-height: 30px;
	font-weight: 700;
	margin: 0 0 15px 0;
	text-align: left;
	float: left;
	width: 100%;
}
.bookstore-benefits p {
	font-size: 16px;
	font-weight: 400;
	color: #2d2d2d;
	margin-bottom: 20px;
}
.register-form-otr {
	margin: 40px 0 0 0;
}

.right-selection {
	padding: 0 0 0 20px;
}
.make-selection h5 {
	font-size: 20px;
	color: #262626;
	line-height: 30px;
	font-weight: 700;
	margin: 0 0 15px 0;
	text-align: left;
	float: left;
	width: 100%;
}
.make-selection ul {
	float:left;
	width:100%;
}
.make-selection ul li {
	float: left;
	width: 100%;
	position:relative;
	padding:0 0 8px 15px;
}
.make-selection ul li::before {
	content: "";
	width: 6px;
	height: 6px;
	background: #dbb752;
	position: absolute;
	left: 0;
	top: 9px;
}
.make-selection ul li a {
	float: left;
	width: 100%;
	font-size: 15px;
	font-weight: 400;
	color: #2d2d2d;
	margin: 0;
	position: relative;
	padding: 0;
}
.make-selection ul li a:hover {
	color:#dec75f;
	text-decoration:none;
}

.make-selection.add-checkbox p
 {
	float: left;
	width: 100%;
	font-size: 15px;
	font-weight: 400;
	color: #2d2d2d;
	margin: 0;
	position: relative;
	padding: 0;
}

.make-selection.add-checkbox input[type="checkbox"] + label {
	display: inline-block;
	width: 100%;
	height: 24px;
	margin: 10px 4px 0 0;
	vertical-align: middle;
	background: url(../images/img_checkbox_pic.png) left 2px no-repeat;
	cursor: pointer;
	padding-left: 30px;
	font-size: 15px;
	font-weight: 400;
	color: #2d2d2d;
}

.make-selection.add-checkbox input[type="checkbox"] {
	display: none;
}
.make-selection.add-checkbox form input {
	float: left;
	width: 100%;
	font-size: 16px;
	color: #2d2d2d;
	line-height: 20px;
	height: 45px;
	background: #fff;
	border: 1px solid #e8e8e8;
	margin-bottom: 6px;
	padding: 5px 13px;
}
.make-selection.add-checkbox input[type="checkbox"]:checked + label {
	background: url(../images/img_checkbox_pic_hover.png) left 2px no-repeat;
}

/*Register with us end*/

/*Contact Page Starts*/
.banner-inner-pages-panel.contact-banner {
	background:url(../images/contact-bg.jpg) center top no-repeat;
	background-size:100% auto;
}
.contact-page .register-form-otr {
	margin: 0;
}
.office-building img {
	max-width:100%;
}
.office-building {
	margin: 0 0 20px 0;
}
.contact-address-otr h6 {
	font-size: 20px;
	color: #262626;
	line-height: 30px;
	font-weight: 700;
	margin: 20px 0 5px 0;
	text-align: center;
	float: left;
	width: 100%;
}
.contact-address-otr p {
	font-size: 16px;
	color: #262626;
	line-height: 24px;
	font-weight: 500;
	margin: 4px 0 0 0;
	text-align: center;
	float: left;
	width: 100%;
}
.contact-address-otr p a {
	color:#262626;
}
.contact-address-otr p a:hover {
	color:#dec75f;
	text-decoration:none;
}

.social-links {
	margin: 30px 0 0 0;
}
.social-links a {
 float: none;
 width: auto;
 margin: 0 20px 0 0;
 display: inline-block;
}
.social-links a i {
	float:left;
	width:auto;
	font-size:28px;
	color:#dec75f;
}

.social-links a:hover .fa-facebook {
	color:#475993;
}
.social-links a:hover .fa-twitter {
	color:#76a9ea;
}
.social-links a:hover .fa-instagram {
	color:#37749c;
}

/*Contact Page ends*/

/*Location We Ship To START*/

.location-ship-map2
{
	padding:60px 0 !important;
}

.map-location 
{
	text-align:center;
}

.map-location img
{
	max-width:100%;
}

.worldwide1-logo
{
	text-align:center;
}

.worldwide1-logo  img
{
	max-width:100%;
}

/*Location We Ship To END*/


/* Privacy Policy START */
.payment-list.privacy-policy-content {
	padding-right: 2% !important;
}

.privacy-policy-main
{
	padding:60px 0 !important;
}
.privacy-policy-img {
	padding-top: 3% !important;
}
.privacy-policy-img img
{
	max-width:100%;
}

.payment-list.privacy-policy-content  ul li a
{
	color: #dec75f;
	text-decoration:none;
}

/* Privacy Policy END */


/* Terms of Use START */
.payment-list.terms-use
 {
	padding-right: 2% !important;
	margin-top:45px;
}

.payment-list.terms-use p {
	/* float: left; */
	width: 100%;
	font-size: 18px;
	font-weight: 400;
	color: #2d2d2d;
	margin-top: 20px;
	text-align:left;
}

.payment-list.terms-use  p a
{
	color: #dec75f;
	text-decoration:none;
}
.payment-list.terms-use   img.terms-img {
	float: right;
	width: 300px;
	max-width: 100%;
	margin: 10px 0px 10px 15px;
}
/* Terms of Use END */
.inner-pages-outer.contact-page {
	margin-top: 195px;
}

/* CATALOG PAGE START */

.catalog-page-banner-con
{
		background:url(../images/catalog-banner-new-bg.jpg) left bottom no-repeat;
		background-size:cover !important;
}

.product-banner-right-heading.book-catalog-heading h2 
{
	font-size: 50px;
}


.catalog1-main-inner .product-table-main-outer-panel h2 
{
	text-transform: capitalize;
}

.catalog1-subjects-topics
{
	
}

.catalog1-subjects-topics ul {
	list-style: none;
	float: left;
	width: 100%;
	padding: 0 5%;
	text-align: center;
	margin: 30px 0 50px 0;
}

.catalog1-subjects-topics li {
	float: none;
	display: inline-block;
	font-size: 18px;
	font-weight: 500;
	color: #2d2d2d;
	border-right: 2px solid #2d2d2d;
	padding-right: 10px;
	margin-right: 10px;
	line-height: 17px;
	margin-bottom: 12px;
}

.catalog1-subjects-topics li:last-child
{
	border-right: 0px solid #2d2d2d;
	padding-right:0px;
	margin-right:0px;
}

.catalog1-subjects-topics li a {
	text-decoration: none;
	color: #2d2d2d;
}

.catalog1-subjects-topics li a:hover
{
	color:#dec75f;
	text-decoration:underline;
}

.catalog1-subjects-topics-content {
	margin-bottom: 20px;
}

.catalog1-subjects-topics-content h3 {
	font-size: 20px;
	color: #262626;
	line-height: 30px;
	font-weight: 700;
	margin: 0 0 7px 0;
	text-align: left;
	text-transform: uppercase;
}
.catalog1-subjects-topics-content p {
	/* float: left; */
	width: 100%;
	font-size: 17px;
	font-weight: 400;
	color: #2d2d2d;
	margin-bottom: 20px;
	text-align: left;
}

/* CATALOG PAGE END */



/* Login Check out page */


.shopping-login-checkout-main 
{
	border: 1px solid #ddd;
	margin: 40px 0;
	padding: 50px 80px;
}


.shopping-cart-left-main { padding:20px; }
.shopping-cart-left-inner {
	padding: 40px 0 0 0;
	min-height: 480px;
}
.shopping-login-right-outer { background:#000000; }

.shopping-cart-left-main .product-advertise-form-inner input[type="submit"] {
	line-height: 20px;
	padding: 17px 40px;
	font-size: 18px;
	margin-top: 15px;
	background: #dec75f;
	border: 0px;
	color: #fff;
	text-decoration:none !important;
	font-weight: 600;
}

.shopping-cart-left-main .product-advertise-form-inner input:hover[type="submit"]
{
	background: #d0d0d0 !important;
	color: #262626 !important;
	text-decoration:none !important;
}

.shopping-cart-left-main .shopping-login-checkout-fields input {
	float: left;
	width: 100%;
	font-size: 15px;
	color: #2d2d2d;
	line-height: 20px;
	height: 46px;
	background: #fff;
	border: 1px solid #e8e8e8;
	margin-bottom: 6px;
	padding: 5px 13px;
}

.login-register-customer .product-advertise-form-inner {
	text-align: left;
}
.login-register-customer .shopping-cart-left-inner {
	padding: 40px;
	min-height: 480px;
}
.shopping-cart-left-inner h3 {
	font-size: 25px;
	color: #262626;
	line-height: 30px;
	font-weight: 700;
	margin: 0 0 7px 0;
	text-align: left;
	text-transform: capitalize;
	margin: 0 0 30px;
}

.shopping-login-right-outer h3 { color:#fff; }

.shopping-cart-left-inner h4 {
	font-size: 15px;
	line-height: 20px;
	margin: 0 0 20px;
}
.shopping-login-right-outer .product-advertise-form-inner a 
{
	color: #fff;
	text-align: center;
	text-decoration: underline !important;
	margin-left: 5px;
	float: right;
	margin: 38px 0 0;
}
.shopping-login-right-outer p 
{
	margin: 0 0 30px;
	font-size: 15px;
	line-height: 23px; color:#fff;
}

.shopping-login-right-outer a 
{
	color:#d6b14f;
}

.shopping-login-con input[type="radio"] {
	display: none;
}
.shopping-login-con input[type="radio"] + label {
	display: inline-block;
	width: 100%;
	height: 24px;
	margin: 10px 4px 0 0;
	vertical-align: middle;
	background: url(../images/img_signin_radio01.png) left 2px no-repeat;
	cursor: pointer;
	padding-left: 30px;
	font-size: 15px;
	font-weight: 400;
	color: #2d2d2d;
	background-size: 20px;

}
.shopping-login-con input[type="radio"]:checked + label {
	background: url(../images/img_signin_radio02.png) left 2px no-repeat;
	background-size: 20px;

}

.cont-payment-methods-add  h2 samp { float:right; font-family: 'Montserrat', sans-serif;}
.cont-payment-methods-add  h2 samp a {
	font-size: 14px;
	padding: 13px 18px;
	background: #f00;
	border-radius: 70px;
	color: #fff;
	font-weight: 400; text-decoration:nonel
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5d357+0,f0cd53+10,ecc951+25,e9c64f+36,e4c04b+47,e0bc49+63,deb947+80,dcb746+100 */
background: #f5d357; /* Old browsers */
background: -moz-linear-gradient(top, #f5d357 0%, #f0cd53 10%, #ecc951 25%, #e9c64f 36%, #e4c04b 47%, #e0bc49 63%, #deb947 80%, #dcb746 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f5d357 0%,#f0cd53 10%,#ecc951 25%,#e9c64f 36%,#e4c04b 47%,#e0bc49 63%,#deb947 80%,#dcb746 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f5d357 0%,#f0cd53 10%,#ecc951 25%,#e9c64f 36%,#e4c04b 47%,#e0bc49 63%,#deb947 80%,#dcb746 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5d357', endColorstr='#dcb746',GradientType=0 ); /* IE6-9 */
}
.cont-payment-methods-add h2 samp a:hover { color:#fff; text-decoration:none; }


/* Login Check out page */


/*SHOPPING CART PAGE START*/

.shopping-cart-bottom-main {
	margin: 40px 0 0 !important;
}
.shopping-cart-left-main { padding:20px; }
.shopping-cart-left-inner {
	padding: 40px 0 0 0;
	min-height: 280px!important;
}
.login-checkout2 .shopping-login-con  label{
	margin:0px !important;
}
.shopping-cart-left-main .product-advertise-form-inner input[type="submit"] {
	line-height: 20px;
	padding: 17px 40px;
	font-size: 16px;
	margin-top: 25px;
background: #f5d357;
	background: -moz-linear-gradient(top, #f5d357 0%, #f0cd53 10%, #ecc951 25%, #e9c64f 36%, #e4c04b 47%, #e0bc49 63%, #deb947 80%, #dcb746 100%);
	background: -webkit-linear-gradient(top, #f5d357 0%,#f0cd53 10%,#ecc951 25%,#e9c64f 36%,#e4c04b 47%,#e0bc49 63%,#deb947 80%,#dcb746 100%);
	background: linear-gradient(to bottom, #f5d357 0%,#f0cd53 10%,#ecc951 25%,#e9c64f 36%,#e4c04b 47%,#e0bc49 63%,#deb947 80%,#dcb746 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5d357', endColorstr='#dcb746',GradientType=0 );
	border-radius: 30px;
}



.shopping-cart-left-main .shopping-login-checkout-fields input {
	width: 100%;
}

.shopping-cart-item-con {
 margin: 30px 0;
 border-bottom: 1px solid #ddd;
 padding-bottom: 40px !important;
}
.shopping-item-pic {
	margin-right: 20px;
}
.shopping-item-pic img {
	width: 160px;
	float: right;
}
.shopping-item-details h3 {
	font-size: 25px;
	margin-bottom: 11px;
	margin-top: 0;
}
.shopping-item-details h4 {
	font-size: 17px;
	margin-bottom: 6px;
	font-weight: 400;
	line-height: 20px;
}
.shopping-item-details span {
	font-size: 15px;
	font-weight: 400;
	line-height: 19px;
}
.shopping-item-details label {
	font-size: 15px;
	font-weight: 400;
	color: #d6b14f;
	float: left;
	width: 100%;
	margin: 10px 0 3px;
}
.shopping-item-details textarea {
	font-size: 13px;
	font-weight: 400;
	border: 1px solid #ddd;
	padding: 5px;
	resize: none !important;
	float: left;
	width: 100%;
}
.shopping-cart-quantity {
	padding:0 0 0 20px;
	text-align: center;
	font-size: 18px;
}
.shopping-cart-quantity span { float:left; }
.quanity-box {
	border: 1px solid #ddd;
	padding: 0 5px;
	width: 55px;
	margin: 0 0 0 11px;
}
.shopping-cart-price {
	text-align: center;
	font-size: 20px;
	color: #d6b14f;
}
.shopping-cart-wishlist {
	margin: 10px 0;
}
.shopping-cart-wishlist span { width:50%; float:left; }
.shopping-cart-wishlist a { color:#d6b14f; font-size:16px; font-weight:400; }
.shopping-cart-wishlist span:last-child {text-align: right;}
.shopping-summary-outer {
	width: 350px;
	float: right;
	background: #262626;
	padding: 40px 30px !important;
	color: #ffff;
}
.shopping-summary-outer h3 {
	color: #fff;
	font-size: 26px;
	font-weight: 500;
	line-height: 20px;
	margin: 0 0 10px;
	text-transform: uppercase;
}
.shopping-subtotal-outer span { float:right; }
.shopping-subtotal-outer {
	/* background: #fff; */
	margin-bottom: 2px;
	padding: 10px 0 !important;
	font-size: 15px;
	border-bottom: 1px dashed #808080;
}
.shopping-subtotal-outer:last-child, .shopping-cart-item-con:last-child { border-bottom:none; } 
.shopping-checkout-outer a 
{
	background: #dec75f;
	font-size: 20px;
	color: #fff;
	font-weight: 500;
	padding: 10px 10px !important;
	float: left;
	width: 100%;
	text-align: center;
	margin: 10px 0 0;
	border-radius: 33px; -moz-border-radius: 33px; -webkit-border-radius: 33px;
	text-decoration:none;
}

.shopping-checkout-outer a:hover
{
	background:#d0d0d0;
	color:#262626;
	text-decoration:none;
}

.shopping-cart-bottom-main 
{
	margin: 40px 0 0 !important;
}
.shopping-cart-main-outer 
{
	margin: 20px 0 20px;
}

.shopping-login-con 
{
	border: 1px solid #ddd;
	padding: 10px !important;
	border-radius: 30px;
	float: left;
	width: 310px;
	margin-bottom: 10px;
}


/* Register Page Start */

.register-section2  .shopping-login-checkout-main 
{
	text-align: center;
}
.register-section2 .shopping-login-right-outer {
	background: #262626;
	text-align: center;
	float: none;
	display: inline-block;
	width: 600px !important;
	padding:0px 0 !important;
}
.register-section2  .product-advertise-form-inner {
	text-align: center;
}
.register-section2 .form-section2 {
	background: url(../images/black-bg-register2.png) repeat-y;
	background-size: 100%;
	padding: 0px 30px 50px 30px;
	/* border-top: 2px solid #000; */
}


.register-section2 .shopping-login-checkout-fields label 
{
	font-size: 20px;
	color: #ffe699;
	line-height: 43px;
	font-weight: 500;
	margin: 0 0 7px 0;
	text-align: right;
	text-transform: capitalize;
	margin: 0px;
	float: left;
	width: 130px;
	margin-right: 33px;
}

.register-section2 .shopping-login-checkout-fields input {
	width: 75%;
	float: none;
	height: 40px;
	display: inline-block;
}

.register-section2 .login-register-customer .shopping-cart-left-inner {
	padding: 0px 0 0 0;
	min-height: 4px;
}
.register-section2  .product-advertise-form-inner.shopping-login-checkout-fields {
	margin-bottom: -10px;
}
.shopping-cart-left-main .product-advertise-form-inner input[type="submit"] {
	float: none;
	line-height: 24px;
	padding: 14px 20px;
	font-size: 25px;
	margin-top: 25px;
	background: #f5d357;
	background: -moz-linear-gradient(top, #f5d357 0%, #f0cd53 10%, #ecc951 25%, #e9c64f 36%, #e4c04b 47%, #e0bc49 63%, #deb947 80%, #dcb746 100%);
	background: -webkit-linear-gradient(top, #f5d357 0%,#f0cd53 10%,#ecc951 25%,#e9c64f 36%,#e4c04b 47%,#e0bc49 63%,#deb947 80%,#dcb746 100%);
	background: linear-gradient(to bottom, #f5d357 0%,#f0cd53 10%,#ecc951 25%,#e9c64f 36%,#e4c04b 47%,#e0bc49 63%,#deb947 80%,#dcb746 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f5d357', endColorstr='#dcb746',GradientType=0 );
	border-radius: 30px;
	width: 67%;
	display: inline-block;
	text-transform:uppercase;
}

.register-section2 .shopping-cart-left-inner img {
	max-width: 100%;
	width: 100%;
	margin-bottom: 0px;
}

.register-section2 .other-links {
	text-align: center;
	margin-top: 50px;
}
.register-section2   .other-links ul
{
	list-style:none;
}


.register-section2   .other-links li
{
	float:none;
	display:inline-block;
	
}

.register-section2 .other-links li a {
	font-size: 15px;
	color: #ffe699;
	line-height: 13px;
	margin: 0px;
	font-weight: 400;
	padding-right: 12px;
	margin-right: 10px;
	border-right: 1px solid #ffe699;
	display: inline-block;
}

.register-section2 .other-links li:last-child a
{
	padding-right: 0px;
	border-right:0px solid #ffe699;
	margin-right: 0px;
}

.login-checkout2  .product-advertise-form-inner.login-add-sec input {
	font-size: 16px !important;
}

.login-checkout2 .login-ad2 input {
	font-size: 16px !important;
	width: auto !important;
	padding: 14px 39px !important;
}


.product-table-main-inner.catalog-heading2  h1 
{
	font-size: 50px;
	text-align:center;
	font-weight: 900;
}
/* Register Page Start */





/*CHECKOUT A GUEST PAGE */
.checkout-guest-outer span {
	font-size: 13px;
	float: left;
	width: 100%;
	line-height: 23px;
	color: #000;
	margin-bottom: 20px;
}
.checkout-guest-outer h2 {
	margin: 0 0 12px !important;
	text-transform: uppercase;
	font-size: 21px;
}
.checkout-guest-outer h5 {
	color: #4b4a49;
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 5px;
	font-weight: 400;
	text-align: left;
}
.checkout-guest-inner-form {
	margin: 0;
	background: #d6b14f;
	float: left;
	width: 100%;
	padding: 40px 50px !important;
}
.checkout-guest-inner-form .contact-subject-field input, .checkout-guest-inner-form .contact-subject-field textarea {
	border: none;
	color: #8d8d8d;
	line-height: 20px;
	padding: 15px 10px !important;
	font-weight: 400;
	float: left;
	width: 100%; font-size: 14px;
}
.checkout-guest-inner-form .contact-subject-field
{
	float:left;
	width:100%;
	text-align:center; margin:0 0 15px;
}
.checkout-guest-inner-form {
	margin: 0;
	background: #d6b14f;
	float: left;
	width: 100%;
	padding: 40px 50px !important;
}
.checkout-guest-inner-form .contact-subject-field textarea
{
	height:150px;
	padding:15px 15px !important;
	resize:none;
}
.checkout-guest-inner-form .contact-subject-field input[type="submit"] {
	float: none;
	border: none;
	color: #fff;
	line-height: 20px;
	padding: 20px 90px !important;
	font-weight: 500;
	width: auto;
	font-size: 17px;
	background: #000;
	text-transform: uppercase;
	border-radius: 60px;
	text-align: center;
	margin-top: 20px;
}
.checkout-guest-inner-form .contact-name-field input
{
	float:left;
	width:48%;
	margin:0 4% 0 0;
}

.checkout-guest-inner-form select {
	float: left;
	width: 23%;
	margin: 0 7px 0 0;
	border: none;
	color: #8d8d8d;
	line-height: 20px;
	padding: 12px 7px !important;
	font-weight: 400;
	background: #fff url(../images/img_select_arrow.png) right 23px no-repeat;
	background-size: 26px;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	font-size: 14px;
}
.checkout-guest-inner-form .contact-name-field input:last-child, .checkout-guest-inner-form  select:last-child
{
	margin-right:0;
}

.shipping-country-select select { 
float:left;
width:48%;
	margin:0 4% 0 0; }
.billing-address-outer {
	padding: 30px 0 20px;
	float: left;
	width: 100%;
}

.payment-option-con img {
	width: 59px;
	float: left;
	margin-right: 11px;
}
.payment-option-con input[type="radio"] {
    display:none;
}

.payment-option-con input[type="radio"] + label  {
    display:inline-block;
    width:28px;
    height:24px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../images/img_guset-radio01.png) left top no-repeat; background-size: 20px !important;
    cursor:pointer;
}
.payment-option-con input[type="radio"]:checked + label  {
    background:url(../images/img_guset-radio02.png) left top no-repeat; background-size: 20px !important;
}
.payment-option-con span {
	float: left;
	width: 40px;
	text-align: left;
	margin-top: 9px;
}
.card-verificate-con {
	float: left;
	width: 31% !important;
	margin-right: 9px !important;
}
.card-verifiacte-text {
	font-size: 15px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	line-height: 50px; float:left;
}
.card-verifiacte-text a {
	color: #000;
	text-decoration:underline; float:left;
}
.checkout-guest-outer h5 {
	color: #4b4a49;
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 5px;
	font-weight: 400;
	text-align: left;
}
.payment-option-con02 p {
	float: left;
	line-height: 40px;
}

.shipping-address-same-con { margin:20px 0 20px; }
.shipping-address-same-con input[type="checkbox"] {
    display:none;
}

.shipping-address-same-con input[type="checkbox"] + label {
	display: inline-block;
	width: 100%;
	height: 24px;
	margin: -1px 4px 0 0;
	vertical-align: middle;
	background: url(../images/img_ship_checkbox_hover.png) left top no-repeat;
	background-size: 20px !important;
	cursor: pointer;
	float: left;
	padding-left: 30px;
	font-size: 14px;
	font-weight: 400;
}
.shipping-address-same-con input[type="checkbox"]:checked + label  {
    background:url(../images/img_ship_checkbox.png) left top no-repeat; background-size: 20px !important;
}

/*.shipping-address-form { display:none; }*/
.ship-payment-con {
	background: #fff;
	padding: 15px !important; margin-bottom: 40px;
}
.ship-payment-left {
	float: left !important;
	width: 56% !important;
	margin: 0 !important;
	line-height: 30px !important;
}
.ship-payment-right {
	float: right !important;
	width: 44% !important;
	margin: 0 !important;
	font-weight: 500;
	font-size: 19px !important;
	text-align: right;
	line-height: 30px !important;
}
.ship-payment-con input[type="radio"] {
    display:none;
}
.ship-payment-con input[type="radio"] + label {
	display: inline-block;
	width: 80%;
	height: 27px;
	margin: -1px 4px 0 0;
	vertical-align: middle;
	background: url(../images/img_shipping_radio.png) left 6px no-repeat;
	background-size: 18px !important;
	cursor: pointer;
	padding-left: 25px;
	font-size: 14px;
	font-weight: 400;
	line-height: 29px;
}
.ship-payment-con input[type="radio"]:checked + label  {
    background:url(../images/img_shipping_radio_hover.png) left 6px no-repeat; background-size: 20px !important;
}
.ship-payment-right img {
	margin-left: 0px;
	width: 35px;
}
#shipping-credit-card {
	margin-bottom: 12px;
}
.credit-card-pic
{
	background:#fff url(../images/img_ccv_pic.png) right 17px no-repeat;
}
.ccv-card-pic {
	background: #fff url(../images/img_ccv_card.png) right 14px no-repeat;
	background-size: 39px;
}
.review-leftbar { padding-right:5px !important; margin-bottom:10px; }
.review-rightbar { padding-left:5px !important;margin-bottom:10px; }
.review-address-con {
	background: #fff;
	font-size: 12px;
	color: #000;
	font-weight: 400;
	padding: 15px 10px !important;
	min-height: 116px;
}
.review-address-con h5 {
	font-weight: 500;
	font-size: 15px;
	color: #000;
	line-height: 20px;
	margin: 0 !important;
}
.review-address-con p {
	font-weight: 300;
	font-size: 13px;
	color: #3d3d3d;
	line-height: 21px;
	margin: 0;
	padding: 0;
}

.shipping-review-rightbar {
	padding-left: 5px;
	float: right;
}
.shipping-review-rightbar .shopping-summary-outer {
	float: left;
	width: 100%;
	background: #fff;
	padding: 15px 12px !important;
}
.shipping-review-rightbar .shopping-summary-outer h3 {
	font-size: 19px;
	margin: 0 0 5px;
}
.shipping-review-rightbar .checkout-guest-summary h3 {
	color:#000;
}
.checkout-guest-summary .shopping-subtotal-outer{
	color:#000;
}

.shipping-review-rightbar .shopping-subtotal-outer span {
	float: right;
	width: 40% !important;
	margin: 0 !important;
	text-align: right;
}
.shopping-review-promo-outer input {
	float: left;
	width: 75%;
	background: #ededed;
	border: 1px solid #000;
	padding: 11px 15px 10px;
	font-size: 15px;
	font-weight: 400;
	color:#000;
}
.shopping-cart-bottom-main {
	margin: 25px 0 0 !important;
}	
.shopping-review-promo-outer button {
	float: left;
	width: 25%;
	background: #000;
	border: 1px solid #000;
	padding: 10px 10px;
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
}
.shopping-review-promo-outer {
	margin: 10px 0;
}
.review-product-in-bag-outer
{
	margin-top:20px;
	background:#fff; padding:20px !important;
}
.review-product-in-bag-outer h6 {
	font-weight: 500;
	font-size: 15px;
	color: #000;
	line-height: 20px;
	margin: 0 0 10px !important;
	border-bottom: 1px dashed #808080;
	padding: 0 0 10px;
	/* margin-bottom: 10px; */
}
.review-edit-con {
	position: absolute;
	right: 7px;
	top: 14px;
	font-weight: 500;
	font-size: 17px;
	color: #000;
	line-height: 20px;
	margin: 0 !important;
}
.review-edit-con a
{
	color:#000; text-decoration:none;
}
.review-bag-pic { float:left; width:30%; }
.review-bag-pic img {  width:100%; }
.review-bag-content {
	float: left;
	width: 64%;
	margin-left: 17px;
}
.review-bag-content samp {
	font-family: "Open Sans", sans-serif;
	font-weight: 500;
	color: #000;
	font-size: 15px;
	line-height: 18pox;
}
.review-quantity-con {
	margin: 0 !important;
}
.review-product-in-bag-outer .contact-subject-field input[type="submit"] {
	line-height: 20px;
	padding: 17px 100px;
	font-size: 17px;
	width: 100%;
}

.shipping-grid-outer01
{
	padding-right:20px !important;
}
.shipping-grid-outer02 { padding:0 10px !important; position:relative;}
.shipping-grid-outer03 { padding-left:20px !important;}
.shipping-grid-outer .contact-subject-field {
	text-align: left; margin-top:0;
}

.shipping-grid-outer02.shipping-opacity-div:after, .shipping-grid-outer03.shipping-opacity-div:after
{
	content:"";
	position:absolute; background:rgba(214, 177, 79, 0.5); width:100%; height:100%;
	top:0; left:0;
}
.checkout-guest-out-con10
{
	border:0;
	padding:0 !important; margin:0 !important;
}