

@media only screen and (min-width: 1919px) and (max-width: 4000px) {
.logo-con {
	margin-top: 5px;
}
.logo-con a img {
	float: left;
	margin: 0 0 0 79px;
	width: 450px;
}
.privacy-policy-img.refund-img-right2 img {
	max-width: 210px;
	margin-top:40px;
}
section.about-slider {
	float: left;
	width: 100%;
	margin: 0;
}
.main-padding { padding-left:70px !important; padding-right:70px !important; }
.wbo-searchbar-outer.main-padding {
	padding: 0 20px !important;
}
.wbo-boxes-main-inner
{
	padding:0 20px !important;
}
.header-main-inner .navbar ul li a {
	padding: 8px 17px;
	font-size: 15px;
}
.navbar-main-outer .currency-type2 {
	padding: 6px 30px 6px 12px;
	font-size: 12px;
	background-position:right 14px;
	background-size:20px;
	font-size: 15px;
}
.navbar-main-outer .navbar.navbar-default {
	margin: 7px 0 0;
}
.bookstore-picture-outer {
	padding: 16px 16px !important;
}
.wbo-search-keywords-main li a {
	margin: 6px 32px;
	font-size: 20px;
	line-height: 27px;
}
.wbo-listing-wide-main-panel {
	padding: 17px 0;
	height: 70px;
}
.wbo-search-keywords-main li::after {
	height: 17px;
	top: 10px;
}
.wbo-footer-listing-con li a
{
	font-size:16px;
}
.home-header-main-outer-panel {
	height: 1120px;
}
.cart-product-con {
	left: 36px;
}
.wbo-subjects-drop-down {
	width: 1032px;
}

.wbo-subjects-drop-down ul {
	 width: 190px;
}
.bookstore-picture-inner span {
	font-size: 22px;
}
.wbo-cart-shipping-panel {
	padding: 2px 15px 0 !important; width: 55%;
}
.create-world-bookstore-account-inner li {
	font-size: 16px;
	line-height: 25px;
}
.create-world-bookstore-account-inner form input {
	margin-bottom: 9px;
}
.header-main-inner.main-padding {
	padding-left: 20px !important;
	padding-right: 20px !important;
}
.Product-detail-title-con {
	width: 450px;
}
.banner-search-cont {
 width: 1100px;
 top: 66%;
}

.faq-acordion-outer .panel-body img {
 max-width: 390px;
}
.accordion-content {
 height: 290px;
}
.inner-pages-search.banner-search-cont {
 top: 80%;
}
.banner-inner-pages-panel {
	height: 610px;
}
/* .inner-pages-outer { */
	/* padding: 110px 0; */
/* } */
.inner-pages-outer.contact-page {
	margin-top: 106px;
}
.payment-method-banner {
	height: 790px;
}
.privacy-policy-img {
	padding-top: 0 !important;
}
.banner-inner-pages-panel.register-banner {
	height: 700px;
}
.banner-inner-pages-panel h1 {
	height: 500px;
}
.banner-inner-pages-panel.contact-banner {
	height: 840px;
}
/* about us page */
.about-banner01 
{
	height: 883px;
}
.wide-range-books-main 
{
	padding: 150px 0;
}
/* about us page */

.shopping-login-con {
 width: 60%;
}
.shopping-login-checkout-main {
 border: 1px solid #ddd;
 margin: 40px 0;
 padding: 50px 180px;
}
.login-checkout2 .product-advertise-form-inner.login-add-sec input { padding: 14px 39px !important; }


/*about start*/
.header-main-outer-panel.home-header-main-outer-panel.about-us-sec {	
	background-size: 100% !important;
}
.about-banner01 {
	height: 865px;
	background-size: cover !important;
}
.about-banner01.about-banner03{
	background-size: 100% !important;
}
/*about end*/
.publisher-banner-outer {
	height: 810px;
}

}

@media only screen and (min-width: 1601px) and (max-width: 1918px) {

.home-header-main-outer-panel {
	background-size: 100% 76%;
}
.header-main-inner .navbar ul li a {
	padding: 8px;
	font-size: 14px;
}
.about-banner01 {
	height:730px;
}
.publisher-banner-outer {
	height: 670px;
}


}

@media only screen and (min-width: 1362px) and (max-width: 1600px) {


.home-header-main-outer-panel {
	background-size: 100% 76%;
}

.header-main-inner .navbar ul li a {
	font-size: 12px;
	padding: 8px 4px;
}
.about-banner01 {
	height: 650px;
}
.publisher-banner-outer {
	height: 600px;
}

}

@media only screen and (min-width: 1201px) and (max-width: 1360px) {

.home-header-main-outer-panel {
	background-size: 100% 76%;
}

.header-main-inner .navbar ul li a {
	padding: 8px 3px;
	font-size: 10px;
}
}


@media only screen and (min-width: 992px) and (max-width: 1200px) {

.header-main-inner .navbar ul li a {
	padding: 8px 0 14px;
	font-size: 11px;
}
.worldwide-ship-con-pic a img
{
	width:30px;
}
.navbar-main-outer .currency-type2 {
	font-size: 10px;
	font-size: 9px;
}

.navbar ul {
	float: none;
	width: 800px;
}
.header-main-inner .navbar ul li {
	margin: 0 1.7px;
}
.home-header-main-outer-panel {
	height: 630px;
}
.wbo-boxes-main a {
	font-size: 12px;
	line-height: 18px;
	padding: 12px 25px;
}
.wbo-boxes-main {
	padding: 40px 15px 48px !important;
}
.welcome-bookstore-bg-outer {
	padding-top: 100px !important;
}
.bookstore-picture-outer a {
	min-height: 222px;
}
.wbo-footer-listing-con li a {
	font-size: 12px;
	line-height: 18px;
}
.wbo-footer-listing-con li a::before {
	top: 6px;
}
.wbo-footer-listing-con li {
	margin: 0 0 10px;
}

.header-main-inner {
	background: #262626;
	height: 110px;
	z-index: 999;
	position: fixed;
}
.logo-con {
	margin-top: 68px;
}

.payment-method-banner {
	background: url(../images/payment-method-bg.jpg) center top no-repeat;
	background-size: 100% !important;
	background-position: center bottom;
	height: 530px;
}
/*about start*/
.header-main-outer-panel.home-header-main-outer-panel.about-us-sec {	
	height: 104px;
	background-size: 100% !important;
}
.about-banner01 {
	height: 430px;
	background-size: 100% !important;
}
.about-banner01.about-banner03{
	background-size: 100% !important;
}
/*about end*/

/*checkout-as-guest-start*/
.checkout-guest-inner-form .contact-subject-field input, .checkout-guest-inner-form .contact-subject-field textarea {
	padding: 12px 10px !important;
	margin: 0 4% 10px 0;
}
.checkout-guest-inner-form select {
background-position:right 17px;
width: 48%;
}
.checkout-guest-inner-form select {
	width: 48%;
	margin: 0 0 10px;
}
.checkout-guest-inner-form .contact-subject-field {
	margin: 0;
}
.ship-payment-con input[type="radio"] + label {
	margin: -1px 4px 0 0;
	font-size: 12px;
	line-height: 15px;
	height: 30px;
	background-position: left top;
	background-size: 17px !important;
}
.shipping-grid-outer01 {
	padding-right: 15px !important;
}
.shipping-grid-outer03 {
	padding-left: 15px !important;
}
.checkout-guest-outer h2 {
	margin: 0 0 10px !important;
	font-size: 16px;
}
.ship-payment-con {
	margin-bottom: 15px;
	padding: 10px !important;
}
.checkout-guest-inner-form .contact-subject-field input[type="submit"] {
	padding: 15px 90px !important;
	font-size: 15px;
}
.review-product-in-bag-outer .contact-subject-field input[type="submit"] {
	padding: 17px 30px !important;
	font-size: 15px;
}
.ship-payment-right img {
	width: 22px;
}
.review-address-con {
	min-height: 175px;
}
.shopping-review-promo-outer button {
	padding: 14px 10px;
	font-size: 11px;
}
.shopping-review-promo-outer input {
	width: 75%;
	padding: 15px 15px 14px;
	font-size: 10px;
}
.review-bag-content {
	width: 62%;
}
/*checkout-as-guest-end*/

/*Contact Start*/
.logo-con a img {
	width: 223px;
}
section.about-slider {
	float: left;
	width: 100%;
	margin:0;
}
.banner-inner-pages-panel.contact-banner {
	background-position: center bottom;
	background-size: 100% auto !important;
	height: 530px;
}
/*Contact End*/

/*login checkout start*/
.shopping-login-checkout-main {
	padding: 50px 50px;
}
.login-register-customer .shopping-cart-left-inner {
	padding: 20px;
}
.login-checkout2 .product-advertise-form-inner.login-add-sec input {
	font-size: 14px !important;
	width: 60%;
}
/*login checkout end*/

/*product start*/
.product-banner-right-heading h2 {
	height: auto;
	margin: 0;
	padding: 105px 0 0;
}

/*product end*/

/*product detail start*/
.wbo-product-detail-heading {
	font-size: 14px;
}
.category-bottom-buttons a {
	font-size: 10px;
	line-height: 18px;
	padding: 15px 25px;
	margin: 0 4px;
}
/*product detail end*/

/*register with us start*/
.banner-inner-pages-panel.register-banner {
	height: 440px;
}
/*register with us end*/

/*shoping cart start*/
.shopping-cart-wishlist a {
	font-size: 12px;
}
/*shoping cart end*/

/*product start*/
.with-nav-tabs .panel-body table {
	float: left;
	width:100% !important;
	
}
.product-table-con .panel-heading, .product-table-con .panel-body {
	padding: 0;
	overflow: scroll;
}
.with-nav-tabs .panel-body tbody {
	float: left;
	width:1200px;
}

/*product end*/

.publisher-banner-outer {
	height: 415px;
}

}
@media only screen and (min-width: 767px) and (max-width: 991px) 
{
.navbar ul li a {
	padding: 8px 0 12px;
	font-size: 10px;
}
.navbar-main-outer.nopadding {
	float: right;
	width: auto;
}
.navbar-main-outer .navbar-toggle {
	display: none;
	margin: 12px 0 0;
}
.navbar-main-outer .collapse.navbar-collapse {
	padding: 0 !important;
}
.navbar-main-outer .navbar.navbar-default {
	margin:5px 0 0;
	padding: 0 0 7px;
}
.logo-con {
	margin-top: -32px;
	z-index: 999;
}
.worldwide-ship-con-pic a img {
	width: 25px;
}
.navbar-main-outer .currency-type2 {
	font-size: 10px;
	font-size: 9px;
}
.navbar ul li {
	margin: 0;
}

.home-header-main-outer-panel {
	height: 570px;
	background-size: 100% 72%;
}
.wbo-boxes-main a {
	font-size: 10px;
	line-height: 18px;
	padding: 12px 20px;
}
.wbo-boxes-main {
	padding: 30px 5px 40px !important;
}
.welcome-bookstore-bg-outer {
	padding-top: 80px !important;
}
.bookstore-picture-outer a {
	min-height: 205px;
}
.wbo-footer-listing-con li a {
	font-size: 10px;
	line-height: 18px;
}
.wbo-footer-listing-con li a::before {
	top: 6px;
}
.wbo-footer-listing-con li {
	margin: 0 0 10px;
}

.wbo-boxes-main p {
	font-size: 14px;
	line-height: 20px;
	min-height: 75px;
}
.wbo-boxes-main h3 {
	font-size: 16px;
	line-height: 18px;
}
.banner-search-cont {
	top: 72%;
	width: 570px;
}
.welcome-bookstore-main-outer h1 {
	font-size: 36px;
	line-height: 42px;
}
.welcome-bookstore-bg-outer p {
	font-size: 16px;
	line-height: 32px;
}
.bookstore-picture-inner span {
	font-size: 13px;
	line-height: 18px;
	padding: 10px;
}
.lib-heading-otr {
	font-size: 22px;
	line-height: 28px;
}
.create-world-bookstore-account-panel h2 {
	font-size: 28px;
	line-height: 32px;
	margin: 0px 0 45px;
}
.create-world-bookstore-account-panel h2 span {
	font-size: 16px;
}
.create-world-bookstore-account-panel h3 {
	font-size: 22px;
	line-height: 24px;
	margin: 0px 0 20px;
}
.create-world-bookstore-account-inner li {	
	font-size: 14px;
}
.footer-social-cont ul li a {
	width: 25px;
	height: 25px;
}
.wbo-copyright-outer {
	font-size: 14px;
}
.footer-social-cont ul li a i {
	font-size: 14px;
	margin: 6px 0 0 0;
}
.options-otr a {
	width: 38px;
	margin: 0 10px 0 0;
}
.footer-bott-part h4 {
	font-size: 16px;
	line-height: 24px;
	margin: 0 0 15px 0;
}
.wbo-listing-wide-main-panel {
	height:auto;
}
.wbo-search-keywords-main li a {
margin: 0 15px;
	font-size: 12px;
	line-height: 35px;
}
.wbo-search-keywords-main li::after {
	top: 9px;
}
.create-world-bookstore-account-inner form input {	
	font-size: 14px;
}
.create-world-bookstore-account-inner form {
	padding: 25px;
}


/*faq start*/

.faq-page-banner-con {
	background-size: cover !important;
	height: 390px;
	background-position: -215px 20px;
}
.faq-acordion-outer .panel-title > a {
	padding: 20px 25px;
	font-size: 16px;
	line-height: 20px;
}
.faq-acordion-outer .faq-acordion-inner {
	padding-top: 44px;
	padding-bottom: 40px;
}
.faq-acordion-outer .panel-body { text-align:center; }
.faq-acordion-inner .panel-body p {
	font-size: 16px;
	line-height: 24px;
	text-align: left;
}
.faq-acordion-outer .panel-body img {
	float: left;
	max-width: 22%;
	margin: 0 20px 10px 0;
}
.header-main-inner {
	position: inherit;
	height: 87px;
}

/*faq end*/



/*payment method start*/
.payment-method-banner {
	background: url(../images/payment-method-bg.jpg) center top no-repeat;
	background-size: 100% !important;
	background-position: left 130px;
	height: 500px;
}
.inner-pages-outer {
	padding: 45px 0 30px;
}
.wbo-subjects-drop-down {
	width: 622px;
}
.cont-payment-methods h2 {
	font-size: 22px;
	line-height: 26px;
}
.payment-list ul li::before {
	content: "";
	width: 7px;
	height: 7px;
}
.payment-list ul li {
	font-size: 15px;
	margin-bottom: 20px;
	padding-left: 20px;
}
/*payment method end*/

/*category start*/
.category-page-banner-con {
	background-position: left top;
	background-size: 100% !important;
	height: 360px;
}
.search-form-in-inner .wbo-searchbar-inner {
	width: 80%;
}
.adaptive-resues-main-outer-panel li {
	width: 29.7%;
}
/*category end*/

/*about start*/
.header-main-outer-panel.home-header-main-outer-panel.about-us-sec {
	height:80px;
	background-size: 100% !important;
}
section.about-slider {
	margin:0;
}
.about-banner01 {
	height: 330px;
	background-size: 100% !important;
}
.about-banner01.about-banner03{
	background-size: 100% !important;
}
/*about end*/


/*catalog start*/
.catalog-page-banner-con {
	background-size: 100% !important;
	height: 430px;
}
.catalog1-subjects-topics li {
	font-size: 16px;
}
/*catalog end*/

/*checkout-as-guest-start*/
.checkout-guest-inner-form {
	padding: 35px 30px !important;
}
.checkout-guest-inner-form .contact-subject-field input, .checkout-guest-inner-form .contact-subject-field textarea, .checkout-guest-inner-form .contact-subject-field select {
	padding: 10px 10px !important;
	font-size: 12px;
	width: 100%;
margin: 0 0 8px 0;
}

.checkout-guest-inner-form select {
background-position:right 17px;
font-size: 12px;
}
.checkout-guest-inner-form .contact-subject-field {
	margin: 0;
}
.ship-payment-con input[type="radio"] + label {
	margin: -1px 4px 0 0;
	font-size: 12px;
	line-height: 15px;
	height: 30px;
	width: 100%;
	background-position: left top;
	background-size: 17px !important;
}
.shipping-grid-outer01 {
	padding-right: 15px !important;
}
.shipping-grid-outer03 {
	padding-left: 15px !important;
}
.checkout-guest-outer h2 {
	margin: 0 0 10px !important;
	font-size: 15px;
}
.shipping-grid-outer02 {
	padding: 0 !important;
	position: relative;
}
.ship-payment-con {
	margin-bottom: 10px;
	padding: 10px !important;
}
.checkout-guest-inner-form .contact-subject-field input[type="submit"] {
	padding: 15px 60px !important;
	font-size: 15px;
	margin: 7px 0 0;
}
.review-product-in-bag-outer .contact-subject-field input[type="submit"] {
	padding: 12px 30px !important;
	font-size: 12px;
}
.ship-payment-right img {
	width: 17px;
}
.review-address-con {
	min-height: 175px;
}
.shipping-address-same-con input[type="checkbox"] + label {
	font-size: 14px;
	line-height: 18px;
}
.ship-payment-con input[type="radio"]:checked + label {
	background-position:left top;
}
.shopping-review-promo-outer button {
	padding: 15px 10px;
	font-size: 12px;
	width: 100%;
}
.credit-card-pic {
	background-position:right 17px;
	background-size: 30px;
	width: 100% !important;
	margin:0 0 10px !important;
}
.shopping-review-promo-outer input {
	width: 100%;
	padding: 15px 15px 14px;
	font-size: 10px;
}
.checkout-guest-inner-form select {
	width: 48%;
	font-size: 12px;
}
.review-bag-content {
	width: 68%;
	margin: 0 0 0 10px;
}
.review-rightbar {
	padding-left: 0 !important;
}
.review-leftbar {
	padding-right: 0 !important;
}
.review-bag-pic {
	width: 25%;
}
.checkout-guest-outer span {
	font-size: 13px;
	line-height: 22px;
}
.shopping-subtotal-outer {
	font-size: 11px;
}
.shopping-checkout-outer a {
	font-size: 15px;
}
.shopping-summary-outer h3 {
	font-size: 20px;
	line-height: 22px;
}
/*checkout-as-guest-end*/

/*Contact Start*/
.logo-con a img {
	width:157px;
}
.banner-inner-pages-panel.contact-banner {
	background-position: center bottom;
	background-size: 100% auto !important;
	height: 425px;
}
.banner-inner-pages-panel h1 {
	height: auto;
}
.inner-pages-outer.contact-page {
	margin-top: 225px;
}
.bookstore-benefits {
	padding: 0;
}
.right-selection {
	padding: 0;
	margin:70px 0 0;
}
/*Contact End*/

/*Login Start*/
.register-section2 .shopping-login-right-outer {
	width: 500px !important;
}
/*Login End*/


/*login checkout start*/
.shopping-login-checkout-main {
	padding: 40px 25px;
}
.login-register-customer .shopping-cart-left-inner {
	padding: 10px;
}
.login-checkout2 .product-advertise-form-inner.login-add-sec input {
	font-size: 12px !important;
	width: 60%;
	padding: 12px 0;
}
.shopping-login-con {
	width: 250px;
}
.shopping-cart-left-main .product-advertise-form-inner input[type="submit"] {
	font-size: 22px;
	margin-top: 10px;
}
.shopping-login-right-outer .product-advertise-form-inner a {
	margin: 28px 0 0;
	font-size: 10px;
}
/*login checkout end*/


/*product detail start*/
.wbo-product-detail-heading {
	font-size: 14px;
}
.category-bottom-buttons a {
	font-size: 10px;
	line-height: 18px;
	padding: 15px 25px;
	margin: 0 4px;
}
.wbo-product-detail-left {
	width: 25%;
}
.wbo-product-detail-right {
	padding-left: 30px !important;
	width: 75%;
}
.product-banner-right-heading h2 {
	font-size: 30px;
	line-height: 40px;
	height:80px;
}
.product-banner-right-heading {
	display: table;
	padding: 0 0 0 50px;
}
/*product detail end*/



/*publisher start*/
.inner-pages-outer {
	padding: 40px 0;
}
.payment-list.terms-use {
	padding-right: 2% !important;
	margin-top: 0;
}
/*publisher end*/

/*register with us start*/
.banner-inner-pages-panel.register-banner {
	height: 340px;
}
.cont-payment-methods h5 {
	font-size: 18px;
	line-height: 26px;
}
/*register with us end*/

/*shoping cart start*/
.shopping-cart-wishlist a {
	font-size: 12px;
}
.shopping-item-pic img {
	width: 90px;
}
.shopping-item-details h3 {
	font-size: 17px;
	margin-bottom: 10px;
	margin-top: 0;
}
.shopping-item-details h4 {
	font-size: 14px;
	line-height: 18px;
}
.shopping-summary-outer {
	width: 205px;
	padding: 25px 20px !important;
	margin: 0 25px 0 0;
}
.shopping-item-details span {
	font-size: 15px;
	line-height: 15px;
}
/*shoping cart end*/


/*product start*/
.with-nav-tabs .panel-body table {
	float: left;
	width:100% !important;
	
}
.product-table-con .panel-heading, .product-table-con .panel-body {
	padding: 0;
	overflow: scroll;
}
.with-nav-tabs .panel-body tbody {
	float: left;
	width:1200px;
}
.product-table-con .nav-tabs > li > a {
	font-size: 12px;
}
/*product end*/
.publisher-banner-outer {
	height: 310px;
}
.publisher-content-first ul {
	padding: 30px 20px 0;
	margin: 0 ;
	float: left;
	width: 100%;
}
.publisher-content-first ul li {
	font-size: 14px;
	line-height: 17px;
	margin: 0 0 14px;
}
}

@media only screen and (min-width: 640px) and (max-width: 766px) 
{
.logo-con {
	margin-top: 0;
	position: absolute;
	top: -58px;
	z-index: 999;
}
.wbo-searchbar-outer {
	margin:0;
}
#wbo-subjects-drop {
	border: 2px solid #dec75f;
}
.wbo-subjects-drop-down {
	background: #fff;
	padding: 5px 10px;
	position: absolute;
	top: 33px;
	left: 10px;
	width: 95%;
	z-index: 9999;
}
.wbo-subjects-drop-down ul {
	margin: 0;
	width: 100%;
}
.header-main-inner .navbar-nav {
	margin: 0;
	padding: 10px 0 30px;
}
.navbar-main-outer .navbar-collapse {
	padding: 0 !important;
	background: #000;
	width: 100%;
	z-index: 99999;
	position: absolute;
	right: 15px;
	top: 42px;
	border-top: #fff solid 1px !important;
}
.navbar-toggle {	
	margin-top: 1px;
	margin-right: 0;
}
.navbar ul li a {
	padding: 5px 0;
	font-size: 8px;
}
.worldwide-ship-con-pic a img {
	width: 25px;
}
.navbar-main-outer .currency-type2 {
	font-size: 10px;
	font-size: 13px;
	background-size: 18px;
	padding: 6px 30px 5px 12px;
	background-position: 95% 12px;
	margin: 5px 0 20px 20px;
}
.wbo-login-button-nav {
	float: left;
	width: 90% !important;
	margin: 5px 20px 6px !important;
}
.navbar ul li {
	margin: 0;
	float: left;
	width: 100%;
}
.header-main-inner .navbar ul li a {
	padding: 7px 25px;
	font-size: 12px;;
}
.home-header-main-outer-panel {
	height: 410px;
}
.wbo-boxes-main a {
	font-size: 9px;
	line-height: 9px;
	padding: 8px 12px;
}
.wbo-boxes-main {
	padding: 25px 5px 35px !important;
}
.welcome-bookstore-bg-outer {
	padding-top:70px !important;
	padding-bottom: 20px !important;
}

.bookstore-picture-outer {
	width: 33.3%;
}
.bookstore-picture-outer a {
	min-height: 190px;
}
.wbo-footer-listing-con li a {
	font-size: 12px;
	line-height: 18px;
}
.wbo-footer-listing-con li a::before {
	top: 6px;
}
.wbo-footer-listing-con li {
	margin: 0 0 10px;
}
.logo-con a img {
	width: 114px;
}
.wbo-boxes-main p {
	font-size: 11px;
	line-height: 16px;
	min-height: 75px;
}	
.wbo-boxes-main h3 {
	font-size: 14px;
	line-height: 16px;
	margin: 20px 0 7px;
}
.banner-search-cont {
	top: 72%;
	width: 490px;
}
.wbo-search-con input[type="text"] {
	font-size: 12px;
}
.welcome-bookstore-main-outer h1 {
	font-size: 26px;
	line-height: 28px;
}
.welcome-bookstore-bg-outer p {
	font-size: 14px;
	line-height: 28px;
}
.bookstore-picture-inner span {
	font-size: 12px;
	line-height: 16px;
	padding: 12px;
}
.lib-heading-otr {
	font-size: 18px;
	line-height: 22px;
}
.create-world-bookstore-account-panel h2 {
	font-size: 26px;
	line-height: 28px;
	margin: 0px 0 35px;
}	
.create-world-bookstore-account-panel h2 span {
	font-size: 14px;
}
.create-world-bookstore-account-panel h3 {
	font-size: 22px;
	line-height: 24px;
	margin: 0px 0 20px;
}
.create-world-bookstore-account-inner li {	
	font-size: 14px;
}
.footer-social-cont ul li a {
	width: 20px;
	height: 20px;
}
.footer-social-cont ul li a i {
	font-size: 11px;
	margin: 1px 0 0 0;
}
.options-otr a {
	width: 38px;
	margin: 0 10px 0 0;
}
.footer-bott-part h4 {
	font-size: 14px;
	line-height: 22px;
	margin: 0 0 15px 0;
}
.wbo-listing-wide-main-panel {
	height:auto;
}
.wbo-search-keywords-main li a {
	margin: 0 15px;
	font-size: 12px;
	line-height: 28px;
}
.wbo-search-keywords-main li::after {
	top: 9px;
}
.create-world-bookstore-account-inner form input {	
	font-size: 12px;
	height: 42px;
}
.create-world-bookstore-account-inner form {
	padding: 25px 25px 100px;
}
.bottom-footer-cont p {
	font-size: 11px;
	line-height: 14px;
}
.bookstore-picture-main-panel {
	padding: 0 0 60px;
}
.wbo-footer-listing-con {
	width: 50%;
	margin: 25px 0 0;
}
.wbo-copyright-outer {
	padding:15px !important;
	font-size: 12px;
}
.wbo-footer-listing-outer {
	padding-top: 40px !important;
	padding-bottom: 50px !important;
}
.footer-bottom-part {
	padding: 30px 0 0 0;
}


/*faq start*/

.faq-page-banner-con {
	background-size: cover !important;
	height: 390px;
	background-position: -215px 20px;
}
.faq-acordion-outer .panel-title > a {
	padding: 20px 25px;
	font-size: 16px;
	line-height: 20px;
}
.faq-acordion-outer .faq-acordion-inner {
	padding-top: 44px;
	padding-bottom: 40px;
}
.faq-acordion-outer .panel-body { text-align:center; }
.faq-acordion-inner .panel-body p {
	font-size: 16px;
	line-height: 24px;
	text-align: left;
}
.faq-acordion-outer .panel-body img {
	float: left;
	max-width: 22%;
	margin: 0 20px 10px 0;
}
.header-main-inner {
	position: inherit;
}
/*faq end*/

/*payment method start*/
.payment-method-banner {
	background-size: 100% !important;
	background-position: left 60px;
	height: 370px;
}
.inner-pages-outer {
	padding: 45px 0 30px;
}
.cont-payment-methods h2 {
	font-size: 22px;
	line-height: 26px;
}
.payment-list ul li::before {
	content: "";
	width: 7px;
	height: 7px;
}
.payment-list ul li {
	font-size: 15px;
	margin-bottom: 20px;
	padding-left: 20px;
}
/*payment method end*/

/*about start*/
.header-main-outer-panel.home-header-main-outer-panel.about-us-sec {
	height: 60px;
	background-size: 100% !important;
}
section.about-slider {
	margin: 0;
}
.about-banner01 {
	height: 280px;
	background-size: 100% !important;
}
.about-banner01.about-banner03{
	background-size: 100% !important;
}
.wide-range-books-main {
	padding: 50px 0;
}
.wide-range-books-first h2 {
	font-size: 36px;
	line-height: 42px;
}
.wide-range-books-first a {
	font-size: 12px;
}
.wide-range-books-first span.glad-your-service-text {
	font-size: 16px;
}
/*about end*/

/*catalog start*/
.catalog-page-banner-con {
	background-size: 100% !important;
	height: 335px;
}
.catalog1-subjects-topics li {
	font-size: 14px;
}
.catalog1-subjects-topics ul {
	padding: 0;
}
.catalog1-subjects-topics-content {
	padding: 0;
}
.catalog1-subjects-topics-content p {
	font-size: 15px;
}
.category-bottom-buttons a {
	font-size: 12px;
	line-height: 14px;
	padding: 15px 36px;
}
/*catalog end*/

.category-page-banner-con {
	height: 330px;
}

.banner-inner-pages-panel h1 span {
	height: 210px;
}
.search-form-in-inner .wbo-searchbar-inner {
	width: 80%;
}
.adaptive-resues-main-outer-panel li a {
	width: 100%;
	font-size: 14px;
	min-height:100px;
}
.adaptive-resues-main-outer-panel li {
	float: left;
	width: 29.8%;
	margin: 10px;
}


/*checkout-as-guest-start*/
.checkout-guest-inner-form {
	padding: 35px 30px !important;
}
.checkout-guest-inner-form .contact-subject-field input, .checkout-guest-inner-form .contact-subject-field textarea, .checkout-guest-inner-form .contact-subject-field select {
	padding: 14px 15px !important;
	font-size: 14px;
	width:100%;
	margin: 0 0 8px;
}
.ship-payment-con {
	margin-bottom: 8px;
}
#shipping-credit-card {
	margin-bottom: 8px;
}
.shipping-grid-outer02 {
	padding: 0 10px !important;
	position: relative;
	margin: 60px 0 0;
}
.shipping-grid-outer .contact-subject-field {
	margin: 0;
}
.checkout-guest-inner-form .contact-name-field input {
	width: 100%;


}
.ship-payment-con input[type="radio"]:checked + label {
	background-position: left 5px;
	background-size: 18px !important;
}
.shipping-grid-outer01 {
	padding-right: 15px !important;
}
.shipping-grid-outer03 {
	padding-left: 0 !important;
	margin: 60px 0 0;
}
.checkout-guest-outer h2 {
	margin: 0 0 12px !important;
	font-size: 18px;
}
.shipping-grid-outer02 {
	padding: 0 !important;
	position: relative;
	margin: 60px 0 0;
}
.ship-payment-con {
	margin-bottom: 30px;
	padding: 12px 20px !important;
	width: 100%;
}
.checkout-guest-inner-form .contact-subject-field input[type="submit"] {
	padding: 15px 60px !important;
	font-size: 15px;
	margin: 7px 0 0;
}
.review-product-in-bag-outer .contact-subject-field input[type="submit"] {
	padding: 12px 30px !important;
	font-size: 12px;
}
.ship-payment-right img {
	width:30px;
}
.review-address-con {
	min-height: 175px;
}
.shipping-address-same-con input[type="checkbox"] + label {
	font-size: 16px;
	line-height: 20px;
}
.shipping-grid-outer .contact-subject-field {
	margin: 0;
}

.shopping-review-promo-outer button {
	padding: 17px 10px;
	font-size: 15px;
	width: 30%;
}
.credit-card-pic {
	background-position:right 17px;
	background-size: 30px;
	width: 100% !important;
	margin:0 0 10px !important;
}
.shopping-review-promo-outer input {
	width: 70%;
	padding: 18px 15px 18px;
	font-size: 13px;
}
.checkout-guest-inner-form select {
	width: 48%;
	font-size: 12px;
}
.review-bag-content {
	width: 68%;
	margin: 0 0 0 10px;
}
.review-rightbar {
	padding-left: 0 !important;
}
.review-leftbar {
	padding-right: 15px !important;
	margin-bottom:10px;
}
.review-bag-pic {
	width: 25%;
}
.checkout-guest-outer span {
	font-size: 13px;
	line-height: 22px;
}
.shopping-subtotal-outer {
	font-size: 14px;
}
.shipping-review-rightbar .shopping-summary-outer {
	padding: 25px 30px !important;
}
.shipping-review-rightbar .shopping-summary-outer h3 {
	font-size: 22px;
	margin: 0 0 10px;
}
/*checkout-as-guest-end*/

/*Contact Start*/

.banner-inner-pages-panel.contact-banner {
	background-position: center bottom;
	background-size: 100% auto !important;
	height: 355px;
}
.banner-inner-pages-panel h1 {
	height: auto;
}
.inner-pages-outer.contact-page {
	margin-top: 275px;
	float: left;
}
.bookstore-benefits {
	padding: 0;
}
.right-selection {
	padding: 0;
	margin:70px 0 0;
}
/*Contact End*/

/*location ship start*/
.worldwide1-logo {
	width: 30%;
}
.map-location {
	width: 70%;
}
/*location ship end*/

/*Login Start*/
.register-section2 .shopping-login-right-outer {
	width: 100% !important;
}
.shopping-login-checkout-main {
	border: 1px solid #ddd;
	margin: 20px 0;
	padding: 30px 50px;
}
.shopping-cart-left-main .product-advertise-form-inner input[type="submit"] {
	margin-top: 5px;
}
/*Login End*/



/*login checkout start*/
.shopping-login-checkout-main {
	padding: 40px 25px;
	margin: 40px 0;
}
.login-register-customer .shopping-cart-left-inner {
	padding: 0;
	min-height: auto;
	margin: 0 0 60px;
}
.shopping-cart-left-inner {
	padding:0;
	min-height: auto;
}
.shopping-cart-left-main.shopping-login-right-outer.login-register-customer {
	margin: 50px 0 0;
}
.login-checkout2 .product-advertise-form-inner.login-add-sec input {
	font-size: 12px !important;
	width: 60%;
	padding: 12px 0;
}
.shopping-login-con {
	width: 250px;
	margin: 0 25px 0 0;
}
.shopping-cart-left-main .product-advertise-form-inner input[type="submit"] {
	font-size: 22px;
	margin-top: 10px;
}
.shopping-login-right-outer .product-advertise-form-inner a {
	margin: 28px 0 0;
	font-size: 10px;
}

/*login checkout end*/


/*product detail start*/
.wbo-product-detail-heading {
	font-size: 12px;
}
.category-bottom-buttons a {
	font-size: 10px;
	line-height: 14px;
	padding: 12px 12px;
	margin: 0 2px;
	border-width: 2px;
}
.wbo-product-detail-left {
	width: 25%;
}
.wbo-product-detail-right {
	padding-left: 30px !important;
	width: 75%;
}
.product-banner-right-heading h2 {
	font-size: 26px;
	line-height: 31px;
	height: 80px;
	padding: 0 0 0 50px;
}

.product-banner-right-heading {
	display: table;
	padding: 0 0 0 50px;
	width: 70%;
	float: right;
}
/*product detail end*/



/*publisher start*/
.inner-pages-outer {
	padding: 60px 0 30px;
}
.payment-list.terms-use {
	padding-right: 2% !important;
	margin-top: 0;
}
.payment-list.terms-use p {
	font-size: 16px;
	margin: 20px 0 0;
}
.privacy-policy-img img {
	max-width: 50%;
}
.privacy-policy-img.refund-img-right2 img {
	max-width: 50%;
}
.privacy-policy-img {
	padding-top: 0 !important;
	text-align: center;
	margin:40px 0 0;
}
/*publisher end*/

/*register with us start*/
.banner-inner-pages-panel.register-banner {
	height: 280px;
}
.cont-payment-methods h5 {
	font-size: 18px;
	line-height: 26px;
}
/*register with us end*/


/*shoping cart start*/
.shopping-cart-wishlist a {
	font-size: 12px;
}
.shopping-item-pic img {
	width: 90px;
}
.shopping-item-details h3 {
	font-size: 17px;
	margin-bottom: 10px;
	margin-top: 0;
}
.shopping-item-details h4 {
	font-size: 14px;
	line-height: 18px;
}
.shopping-summary-outer {
	width: 100%;
	padding: 25px 20px !important;
	margin: 0;
}
.shopping-cart-right-main {
	padding: 0 30px 60px !important;
}
.shopping-item-details span {
	font-size: 15px;
	line-height: 15px;
}
/*shoping cart end*/

/*product start*/
.with-nav-tabs .panel-body table {
	float: left;
	width:100% !important;
	
}
.product-table-con .panel-heading, .product-table-con .panel-body {
	padding: 0;
	overflow: scroll;
}
.with-nav-tabs .panel-body tbody {
	float: left;
	width:1100px;
}
.product-add-to-cart-button a {
	padding: 8px 10px;
	font-size:10px;
}
.product-table-con .nav-tabs > li > a {
	font-size: 10px;
	padding: 5px 15px;
}
/*product end*/

.publisher-banner-outer {
	height: 260px;
}
.publisher-content-first ul {
	padding: 30px 20px 0;
	margin: 0 ;
	float: left;
	width: 100%;
}
.publisher-content-first ul li {
	font-size: 14px;
	line-height: 17px;
	margin: 0 0 14px;
}
}

@media only screen and (min-width: 480px) and (max-width: 639px) 
{
.logo-con {
	margin-top: 0;
	position: absolute;
	top: -60px;
	z-index: 999;
}
.wbo-searchbar-outer {
	margin:0;
}
.navbar-toggle {	
	margin-top: 1px;
	margin-right: 0;
}
section.about-slider {
	margin: 0;
}

#wbo-subjects-drop {
	border: 2px solid #dec75f;
}
.wbo-subjects-drop-down {
	background: #fff;
	padding: 5px 10px;
	position: absolute;
	top: 33px;
	left: 10px;
	width: 95%;
	z-index: 9999;
}
.wbo-subjects-drop-down ul {
	margin: 0;
	width: 100%;
}
.header-main-inner .navbar-nav {
	margin: 0;
	padding: 10px 0 30px;
}
.navbar-main-outer .navbar-collapse {
	padding: 0 !important;
	background: #000;
	width: 100%;
	z-index: 99999;
	position: absolute;
	right: 15px;
	top: 42px;
	border-top: #fff solid 1px !important;
}

.navbar ul li a {
	padding: 5px 0;
	font-size: 8px;
}
.worldwide-ship-con-pic a img {
	width: 25px;
}
.navbar-main-outer .currency-type2 {
	font-size: 10px;
	font-size: 12px;
	margin: 8px 0 20px 20px;
}
.header-main-inner .wbo-login-button-nav a {
	font-size: 13px !important;
	text-align:center;
}
.wbo-login-button-nav {
	float: left;
	width: 90% !important;
	margin: 5px 20px 6px !important;
}
.navbar ul li {
	margin: 0;
	float: left;
	width: 100%;
}
.header-main-inner .navbar ul li a {
	padding: 8px 20px;
	font-size: 11px;
}
.home-header-main-outer-panel {
	height: 340px;
	background-size: 100% 66%;
}
.wbo-boxes-main a {
	font-size: 9px;
	line-height: 9px;
	padding: 8px 12px;
}
.wbo-boxes-main {
	padding: 25px 0 35px !important;
}
.welcome-bookstore-bg-outer {
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}
.bookstore-picture-outer a {
	min-height: 195px;
}
.wbo-footer-listing-con li a {
	font-size: 12px;
	line-height: 18px;
}
.wbo-footer-listing-con li a::before {
	top: 6px;
}
.wbo-footer-listing-con li {
	margin: 0 0 10px;
}
.logo-con a img {
	width: 118px;
}
.wbo-boxes-main p {
	font-size: 12px;
	line-height: 16px;
	min-height: auto;
	margin: 0 0 40px;
}
.wbo-boxes-main h3 {
	font-size: 16px;
	line-height: 18px;
	margin: 20px 0 7px;
}
.banner-search-cont {
	top: 77%;
	width: 360px;
}
.wbo-search-con input[type="text"] {
	font-size: 10px;
}
.wbo-searchbar-inner {
	padding: 7px !important;
}
.wbo-search-con {
	padding: 5px 16px !important;
}
.wbo-searchbar-select select {
	font-size: 12px;
	padding: 8px;
	background-position: right 13px;
}
.wbo-boxes-main-inner {
	padding: 0 !important;
	width: 100%;
	margin: 0px 0 50px;
}
.wbo-boxes-main img {
	width: 85px;
}

.welcome-bookstore-main-outer h1 {
	font-size: 20px;
	line-height: 24px;
	margin: 0px 0 15px;
}
.welcome-bookstore-bg-outer p {
	font-size: 12px;
	line-height: 24px;
}
.bookstore-picture-outer {
	padding: 10px !important;
	width: 50%;
}
.bookstore-picture-inner span {
	font-size: 12px;
	line-height: 16px;
	padding: 14px;
}
.lib-heading-otr {
	font-size: 16px;
	padding: 0 20px;
	line-height: 26px;
}
.create-world-bookstore-account-panel h2 {
	font-size: 20px;
	line-height: 24px;
	margin: 0px 0 35px;
	padding: 0 20px;
}
.create-world-bookstore-account-panel h2 span {
	font-size: 12px;
	line-height: 16px;
	margin: 8px 0 0;
}
.create-world-bookstore-account-panel h3 {
	font-size: 18px;
	line-height: 22px;
	margin: 0px 0 15px;
}
.create-world-bookstore-account-rightbar {
	padding-left: 0 !important;
	width: 100%;
	margin: 30px 0 0;
}
footer .footer-bott-part {
	width: 50%;
	margin: 10px 0;
}	
.create-world-bookstore-account-inner li {
	font-size: 14px;
	padding-left: 20px;
}
.create-world-bookstore-account-leftbar {
	padding: 0 !important;
	width: 100%;
}
.create-world-bookstore-account-inner li::before {
		width: 10px;
	height: 10px;
	top: 4px;
}
.footer-social-cont ul li a {
	width: 30px;
	height: 30px;
}
.footer-social-cont ul li a i {
	font-size: 15px;
	margin:8px 0 0 0;
}
.options-otr a {
	width: 35px;
	margin: 0 5px 0 0;
}
.footer-bott-part h4 {
	font-size: 14px;
	line-height: 22px;
	margin: 0 0 15px 0;
}

.wbo-boxes-main-outer.boxes-on-home .col-xs-12.main-padding {
	padding-left: 25px !important;
	padding-right: 25px !important;
}
.wbo-listing-wide-main-panel {
	height:auto;
}
.wbo-search-keywords-main li a {
	margin: 0 15px;
	font-size: 10px;
	line-height: 21px;
}
.wbo-search-keywords-main li::after {
	top: 4px;
	height: 14px;
}
.create-world-bookstore-account-inner form input {
	font-size: 14px;
	height: 45px;
}
.create-world-bookstore-account-inner form {
	padding: 25px 25px 70px;
}
.bottom-footer-cont p {
	font-size: 11px;
	line-height: 14px;
}
.bookstore-picture-main-panel {
	padding: 0 0 60px;
}
.wbo-footer-listing-con {
	width: 50%;
	margin: 25px 0 0;
}
.wbo-copyright-outer {
	padding:15px !important;
	font-size: 10px;
}
.wbo-footer-listing-outer {
	padding-top: 20px !important;
	padding-bottom: 30px !important;
}
.footer-bottom-part {
	padding: 30px 0 0 0;
}
.footer-social-cont ul li {
	margin: 0 5px 5px 0;
}


/*faq start*/

.faq-page-banner-con {
	background-size: cover !important;
	height: 390px;
	background-position: -215px 20px;
}
.faq-acordion-outer .panel-title > a {
	padding: 11px 15px;
	font-size: 14px;
	line-height: 20px;
}
.faq-acordion-outer .faq-acordion-inner {
	padding-top: 44px;
	padding-bottom: 40px;
}
.faq-acordion-outer .panel-body { text-align:center; }
.faq-acordion-inner .panel-body p {
	font-size: 16px;
	line-height: 24px;
	text-align: left;
}
.faq-acordion-outer .panel-body img {
	float: left;
	max-width: 20%;
	margin: 0 20px 10px 0;
}
.header-main-inner {
	position: inherit;
}
.accordion-content {
	height: auto;
}
/*faq end*/


/*payment method start*/
.payment-method-banner {
	background: url(../images/payment-method-bg.jpg) center top no-repeat;
	background-size: 100% !important;
	background-position: left 60px;
	height: 310px;
}
.inner-pages-outer {
	padding: 45px 0 30px;
}
.cont-payment-methods h2 {
	font-size: 22px;
	line-height: 26px;
}
.payment-list ul li::before {
	content: "";
	width: 7px;
	height: 7px;
}
.payment-list ul li {
	font-size: 15px;
	margin-bottom: 20px;
	padding-left: 20px;
}
/*payment method end*/

/*category start*/
.category-page-banner-con {
	background-position:left top;
	background-size: 100% !important;
	height:280px;
}
.banner-inner-pages-panel h1 {
	font-size: 40px;
	line-height: 42px;
}
.architecture-book-main-inner h2 {
	font-size: 32px;
}
.architecture-book-main-outer h2 span {
	font-size: 18px;
	line-height: 26px;
}
.search-form-in-inner .wbo-searchbar-inner {
	width: 100%;
}
.architecture-book-main-outer {
	padding: 60px 0;
}
.adaptive-resues-main-outer-panel li {
	width: 29.7%;
	margin: 10px;
}
.adaptive-resues-main-outer-panel li a {
	padding: 10px;
	font-size: 12px;
}
/*category end*/


/*about start*/
.header-main-outer-panel.home-header-main-outer-panel.about-us-sec {
	height: 60px;
	background-size: 100% !important;
}
.about-banner01 {
	height:205px;
	background-size: 100% !important;
}
.wide-range-books-first strong {
	font-size: 14px;
}
.wide-range-books-first p {
	font-size: 14px;
	line-height:22px;
}
.about-banner01.about-banner03{
	background-size: 100% !important;
}
.wide-range-books-main {
	padding: 50px 0;
}
.wide-range-books-first h2 {
	font-size: 26px;
	line-height: 30px;
	padding: 0 15px;
}
.wide-range-books-first a {
	font-size: 10px;
	line-height: 11px;
	padding: 10px 25px;
}
.wide-range-books-first span.glad-your-service-text {
	font-size: 16px;
}
/*about end*/


/*catalog start*/
.product-table-main-inner.catalog-heading2 h1 {
	font-size: 32px;
}
.product-table-main-outer-panel {
	padding: 40px 0 30px;
	margin-top: 50px;
}
.product-table-main-outer-panel h2 {
	font-size: 26px;
	line-height: 32px;
}
.product-table-main-inner {
	padding: 0 15px !important;
}
.category-bottom-buttons {
	margin: 20px 0 0;
	padding: 0 !important;
}
.product-table-con {
	padding: 26px 0px 25px 0px !important;
	margin-right: 0;
}
.catalog-page-banner-con {
	background-size: 100% !important;
	height: 265px;
}
.catalog1-subjects-topics li {
	font-size: 14px;
}
.catalog1-subjects-topics ul {
	padding: 0;
}
.catalog1-subjects-topics-content {
	padding: 0;
}
.catalog1-subjects-topics-content p {
	font-size: 15px;
}
.category-bottom-buttons a {
	font-size: 10px;
	line-height: 14px;
	padding: 12px 30px;
	margin: 0 2px;
}
/*catalog end*/

/*checkout-as-guest-start*/
.checkout-guest-inner-form {
	padding: 35px 30px !important;
}
.checkout-guest-inner-form .contact-subject-field input, .checkout-guest-inner-form .contact-subject-field textarea, .checkout-guest-inner-form .contact-subject-field select {
	padding: 14px 15px !important;
	font-size: 14px;
	width:100%;
	margin: 0 0 8px;
}
.ship-payment-con {
	margin-bottom: 8px;
}
#shipping-credit-card {
	margin-bottom: 8px;
}
.shipping-grid-outer02 {
	padding: 0 10px !important;
	position: relative;
	margin: 60px 0 0;
}
.shipping-grid-outer .contact-subject-field {
	margin: 0;
}
.checkout-guest-inner-form .contact-name-field input {
	width: 100%;
}
.ship-payment-con input[type="radio"]:checked + label {
background-size: 13px !important;
	background-position: left 1px;
	width: 100%;
}
.shipping-grid-outer01 {
	padding-right:0 !important;
}
.shipping-grid-outer03 {
	padding-left: 0 !important;
	margin: 60px 0 0;
}
.checkout-guest-outer h2 {
	margin: 0 0 12px !important;
	font-size: 18px;
}
.ship-payment-con input[type="radio"] + label {
	line-height: 17px;
	font-size: 14px;
	background-size: 13px !important;
	background-position: left 1px;
	padding: 0 0 0 20px;
}
.shipping-grid-outer02 {
	padding: 0 !important;
	position: relative;
	margin: 60px 0 0;
}
.ship-payment-con {
	margin-bottom: 30px;
	padding: 12px 20px !important;
	width: 100%;
}
.checkout-guest-inner-form .contact-subject-field input[type="submit"] {
	padding: 15px 60px !important;
	font-size: 15px;
	margin: 7px 0 0;
}
.review-product-in-bag-outer .contact-subject-field input[type="submit"] {
	padding: 12px 30px !important;
	font-size: 12px;
	margin: 40px 0 0;
}
.ship-payment-right img {
	width: 25px;
}
.review-address-con h5 {
	font-size: 13px;
	line-height: 15px;
}
.review-address-con {
	min-height: 175px;
}
.shipping-address-same-con input[type="checkbox"] + label {
	font-size: 16px;
	line-height: 20px;
}
.shipping-grid-outer .contact-subject-field {
	margin: 0;
}

.shopping-review-promo-outer button {
	padding: 17px 10px;
	font-size: 15px;
	width: 30%;
}
.credit-card-pic {
	background-position:right 17px;
	background-size: 30px;
	width: 100% !important;
	margin:0 0 10px !important;
}
.shopping-review-promo-outer input {
	width: 70%;
	padding: 18px 12px 18px;
	font-size: 13px;
}
.checkout-guest-inner-form select {
	width: 48%;
	font-size: 12px;
}
.review-bag-content {
	width: 68%;
	margin: 0 0 0 10px;
}
.review-rightbar {
	padding-left: 0 !important;
}
.review-leftbar {
	padding-right: 15px !important;
	margin-bottom:10px;
}
.review-bag-pic {
	width: 25%;
}
.checkout-guest-outer span {
	font-size: 13px;
	line-height: 22px;
}
.shopping-subtotal-outer {
	font-size: 14px;
}
.shipping-review-rightbar .shopping-summary-outer {
	padding: 25px 30px !important;
}
.shipping-review-rightbar .shopping-summary-outer h3 {
	font-size: 22px;
	margin: 0 0 10px;
}
/*checkout-as-guest-end*/


/*Contact Start*/

.banner-inner-pages-panel.contact-banner {
	background-position: center bottom;
	background-size: 100% auto !important;
	height: 260px;
}
.banner-inner-pages-panel h1 {
	height: auto;
}
.inner-pages-outer.contact-page {
	margin-top: 155px;
	float: left;
}
.bookstore-benefits {
	padding: 0;
}
.right-selection {
	padding: 0;
	margin:70px 0 0;
}
/*Contact End*/


/*location ship start*/
.worldwide1-logo {
	width: 30%;
}
.map-location {
	width: 70%;
}
/*location ship end*/

/*Login Start*/
.register-section2 .shopping-login-right-outer {
	width: 100% !important;
}
.shopping-login-checkout-main {
	margin: 20px 0;
	padding: 25px 30px;
}
.shopping-cart-left-main .product-advertise-form-inner input[type="submit"] {
	margin-top: 5px;
	padding: 12px 20px;
	font-size: 18px;
}
.register-section2 .shopping-login-checkout-fields input {
	width: 90%;
}
.register-section2 .other-links li a {
	font-size: 12px;
	padding-right: 5px;
	margin-right: 5px;
}
.register-section2 .other-links {
	margin-top: 25px;
}
.register-section2 .form-section2 {
	padding: 0px 30px 40px 30px;
}
/*Login End*/


/*login checkout start*/
.shopping-login-checkout-main {
	padding: 40px 25px;
	margin: 40px 0;
}
.login-register-customer .shopping-cart-left-inner {
	padding: 10px;
	min-height:auto;
}
.login-checkout2 .product-advertise-form-inner.login-add-sec input {
	font-size: 12px !important;
	width: 60%;
	padding: 12px 0;
}
.shopping-login-con {
	width: 250px;
}
.shopping-cart-left-main .product-advertise-form-inner input[type="submit"] {
	font-size: 22px;
	margin-top: 10px;
}
.shopping-login-right-outer .product-advertise-form-inner a {
	margin: 28px 0 0;
	font-size: 10px;
}
.shopping-cart-left-inner {
	min-height: auto;
	padding: 0;
	margin: 0 0 35px;
}
/*login checkout end*/


/*product detail start*/
.wbo-product-detail-heading {
	font-size: 10px;
}
.wbo-product-detail-text {
	font-size: 12px;
	line-height: 18px;
}
.category-bottom-buttons a {
	font-size: 9px;
	line-height: 12px;
	padding: 10px 10px;
	margin: 0 2px;
	border-width: 2px;
}
.wbo-product-detail-left {
	width: 25%;
}
.wbo-product-detail-right {
	padding-left: 0 !important;
	width: 75%;
}
.product-banner-right-heading h2 {
	font-size: 26px;
	line-height: 31px;
	height:auto;
}
.product-banner-right-heading {
	display: table;
	padding: 0;
	width: 100%;
	float: left;
	margin:40px 0 0;
}
/*product detail end*/


/*publisher start*/
.inner-pages-outer {
	padding: 50px 0 30px;
}
.payment-list.terms-use {
	padding-right: 2% !important;
	margin-top: 0;
}
.payment-list.terms-use p {
	font-size: 16px;
	margin: 20px 0 0;
}
.privacy-policy-img img {
	max-width: 50%;
}
.privacy-policy-img.refund-img-right2 img {
	max-width: 50%;
}
.privacy-policy-img {
	padding-top: 0 !important;
	text-align: center;
	margin:40px 0 0;
}
/*publisher end*/


/*register with us start*/
.banner-inner-pages-panel.register-banner {
	height: 205px;
}
.cont-payment-methods h5 {
	font-size: 18px;
	line-height: 26px;
}
/*register with us end*/



/*shoping cart start*/
.shopping-cart-wishlist a {
	font-size: 12px;
}
.shopping-item-pic img {
	width: 90px;
}
.shopping-item-details h3 {
	font-size: 17px;
	margin-bottom: 10px;
	margin-top: 0;
}
.shopping-item-details h4 {
	font-size: 14px;
	line-height: 18px;
}
.shopping-summary-outer {
	width: 100%;
	padding: 25px 20px !important;
	margin: 0;
}
.shopping-cart-right-main {
	padding: 0 30px 60px !important;
}
.shopping-item-details span {
	font-size: 15px;
	line-height: 15px;
}
/*shoping cart end*/

/*product start*/
.with-nav-tabs .panel-body table {
	float: left;
	width:100% !important;
	
}
.product-table-con .panel-heading, .product-table-con .panel-body {
	padding: 0;
	overflow: scroll;
}
.with-nav-tabs .panel-body tbody {
	float: left;
	width:950px;
}
.product-add-to-cart-button a {
	padding: 8px 10px;
	font-size:10px;
}
.product-table-con .nav-tabs > li > a {
	font-size: 8px;
	padding: 5px 12px;
	margin: 0;
}
.product-table-con table td, .product-table-con table th {
	padding: 12px 10px;
	font-size: 10px;
}
/*product end*/
.publisher-banner-outer {
	height: 195px;
}
.publisher-content-part {
	margin: 40px 0 0;
}
.publisher-content-first strong {
	margin:0;
	font-size: 42px;
	line-height: 57px;
	width: 60px;
	height: 60px;
}
.publisher-content-first ul
{
	margin:10px 0 0;
	width: 100%;
}
.publisher-content-first ul li {
	width: 100%;
}


}


@media only screen and (max-width: 479px) 
{
.main-padding {
	padding-left: 15px !important;
	padding-right: 15px !important;
}
.logo-con {
	margin-top: 28px;
	position: absolute;
	top: -80px;
	margin: 0;
	z-index: 9999;
}
.navbar-toggle {	
	margin-top: 1px;
	margin-right: 0;
}
.header-main-inner .navbar-nav {
	margin: 0;
	padding: 10px 0 30px;
}
section.about-slider {
	margin: 0;
}
#wbo-subjects-drop {
	border: 2px solid #dec75f;
}
.wbo-subjects-drop-down {
	background: #fff;
	padding: 5px 10px;
	position: absolute;
	top: 33px;
	left: 10px;
	width: 95%;
	z-index: 9999;
}
.wbo-subjects-drop-down ul {
	margin: 0;
	width: 100%;
}
.header-main-inner .navbar ul li a {
	padding: 8px 16px;
	font-size: 12px;
}
.navbar-main-outer .navbar-collapse {
	padding: 0 !important;
	background: #000;
	width: 100%;
	z-index: 99999;
	position: absolute;
	right: 15px;
	top: 42px;
	border-top: #fff solid 1px !important;
}
.navbar ul li a {
	padding: 5px 0;
	font-size: 8px;
}
.worldwide-ship-con-pic a img {
	width: 25px;
}
.navbar-main-outer .currency-type2 {
	font-size: 10px;
	font-size: 9px;
}
.navbar ul li {
	margin: 0;
	float: left;
width: 100%;
}
.home-header-main-outer-panel {
	height: 275px;
	background-size: 100% 60%;
}
.wbo-boxes-main a {
	font-size: 10px;
	line-height: 9px;
	padding: 11px 25px;
}
.wbo-boxes-main {
	padding: 45px 15px 35px !important;
}
.welcome-bookstore-bg-outer {
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}
.bookstore-picture-outer a {
	min-height: auto;
}
.wbo-footer-listing-con li a {
	font-size: 12px;
	line-height: 18px;
}
.wbo-footer-listing-con li a::before {
	top: 6px;
}
.wbo-footer-listing-con li {
	margin: 0 0 10px;
}
.logo-con a img {
	width: 120px;
}
.wbo-boxes-main p {
	font-size: 12px;
	line-height: 16px;
	min-height: auto;
	margin: 0 0 40px;
}
.wbo-boxes-main h3 {
	font-size: 16px;
	line-height: 18px;
	margin: 20px 0 7px;
}
.banner-search-cont {
	top: 90%;
	width: 75%;
}
.wbo-searchbar-select {
	width: 100%;
}
.wbo-search-con-outer {
	padding-left: 0 !important;
	width: 100%;
	margin: 7px 0 0;
}
.wbo-search-con input[type="text"] {
	font-size: 10px;
}
.wbo-searchbar-inner {
	padding: 7px !important;
}
.wbo-search-con {
	padding: 5px 16px !important;
}
.wbo-searchbar-select select {
	font-size: 12px;
	padding: 8px;
	background-position: right 13px;
}
.wbo-boxes-main-inner {
	padding: 0 !important;
	width: 100%;
	margin: 0px 0 35px;
}
.wbo-boxes-main img {
	width: 70px;
}

.welcome-bookstore-main-outer h1 {
	font-size: 20px;
	line-height: 24px;
	margin: 0px 0 15px;
}
.welcome-bookstore-bg-outer p {
	font-size: 12px;
	line-height: 24px;
}
.bookstore-picture-outer {
	padding: 10px !important;
	width: 100%;
}
.bookstore-picture-inner span {
	font-size: 16px;
	line-height: 18px;
	padding: 20px;
}
.lib-heading-otr {
	font-size: 12px;
	padding: 0 20px;
	line-height: 18px;
}
.book-lib-heading {
	padding: 15px 0;
}
.create-world-bookstore-account-panel {
	padding: 40px 0;
}
.create-world-bookstore-account-panel h2 {
	font-size: 20px;
	line-height: 24px;
	margin: 0px 0 35px;
	padding: 0 20px;
}
.create-world-bookstore-account-panel h2 span {
	font-size: 12px;
	line-height: 16px;
	margin: 8px 0 0;
}
.create-world-bookstore-account-panel h3 {
	font-size: 18px;
	line-height: 22px;
	margin: 0px 0 15px;
}
.create-world-bookstore-account-rightbar {
	padding-left: 0 !important;
	width: 100%;
	margin: 30px 0 0;
}
footer .footer-bott-part {
	width: 100%;
	margin: 0 0 40px 0;
}
.create-world-bookstore-account-inner li {
	font-size: 14px;
	padding-left: 20px;
}
.create-world-bookstore-account-leftbar {
	padding: 0 !important;
	width: 100%;
}
.create-world-bookstore-account-inner li::before {
		width: 10px;
	height: 10px;
	top: 4px;
}
.footer-social-cont ul li a {
	width: 30px;
	height: 30px;
}
.footer-social-cont ul li a i {
	font-size: 15px;
	margin:8px 0 0 0;
}
.options-otr a {
	width: 35px;
	margin: 0 5px 0 0;
}
.footer-bott-part h4 {
	font-size: 14px;
	line-height: 22px;
	margin: 0 0 15px 0;
}

.wbo-boxes-main-outer.boxes-on-home .col-xs-12.main-padding {
	padding-left: 25px !important;
	padding-right: 25px !important;
}
.wbo-listing-wide-main-panel {
	height:auto;
}
.wbo-search-keywords-main li a {
	margin: 0 10px;
	font-size: 10px;
	line-height: 21px;
}
.wbo-search-keywords-main li::after {
	top: 4px;
	height: 14px;
}
.create-world-bookstore-account-inner form input {
	font-size: 14px;
	height: 45px;
}
.create-world-bookstore-account-inner form {
	padding: 25px 25px 70px;
}
.bottom-footer-cont p {
	font-size: 11px;
	line-height: 14px;
}
.bookstore-picture-main-panel {
	padding: 0 0 60px;
}
.wbo-footer-listing-con {
	width: 100%;
	margin: 20px 0 0;
}
.wbo-copyright-outer {
	padding: 20px !important;
	font-size: 11px;
}
.wbo-footer-listing-outer {
	padding-top: 20px !important;
	padding-bottom: 30px !important;
}
.footer-bottom-part {
	padding: 30px 0 0 0;
}
.footer-social-cont ul li {
	margin: 0 5px 5px 0;
}

/*faq start*/

.faq-page-banner-con {
	background-size: cover !important;
	height: 390px;
	background-position: -215px 20px;
}
.faq-acordion-outer .panel-title > a {
	padding: 11px 15px;
	font-size: 14px;
	line-height: 20px;
}
.faq-acordion-outer .faq-acordion-inner {
	padding-top: 44px;
	padding-bottom: 40px;
}
.faq-acordion-outer .panel-body { text-align:center; }
.faq-acordion-inner .panel-body p {
	font-size: 16px;
	line-height: 24px;
	text-align: left;
}
.faq-acordion-outer .panel-body img {
	float: none;
	max-width: 60%;
	margin: 0 0 10px;
}
.header-main-inner {
	position: inherit;
}
/*faq end*/

/*payment method start*/
.payment-method-banner {
	background-size: 100% !important;
	background-position: left bottom;
	height: 240px;
}
.inner-pages-outer {
	padding: 20px 0;
}
.cont-payment-methods h2 {
	font-size: 22px;
	line-height: 24px;
}
.payment-list ul li::before {
	content: "";
	width: 7px;
	height: 7px;
}
.payment-list ul li {
	font-size: 15px;
	margin-bottom: 20px;
	padding-left: 20px;
}
/*payment method end*/

/*category start*/
.category-page-banner-con {
	background-position: left 60px;
	background-size: 100% !important;
	height: 207px;
}
.banner-inner-pages-panel h1 {
	font-size: 30px;
	line-height: 32px;
}
.architecture-book-main-inner h2 {
	font-size: 32px;
}
.architecture-book-main-outer h2 span {
	font-size: 18px;
	padding: 0;
}
.search-form-in-inner .wbo-searchbar-inner {
	float: none;
	width: 100%;
	display: inline-block;
}
.architecture-book-main-outer {
	padding: 50px 0 50px;
	text-align: center;
}
.adaptive-resues-main-outer-panel {
	padding: 40px 0;
}
.adaptive-resues-main-outer-panel li {
	float: left;
	width: 100%;
	margin: 0 0 14px 0;
}
.category-bottom-buttons a {
	font-size: 12px;
	line-height: 16px;
	padding: 13px 36px;
	margin: 0 10px 10px;
	display: inline-block;
}
/*category end*/



/*about start*/
.header-main-outer-panel.home-header-main-outer-panel.about-us-sec {
	height: 60px;
	background-size: 100% !important;
}
.about-banner01 {
	height: 140px;
	background-size: 100% !important;
}
.wide-range-books-first strong {
	font-size: 12px;
	line-height: 12px;
}
.about-banner01.about-banner03{
	background-size: 100% !important;
}
.wide-range-books-main {
	padding: 40px 0;
}
.wide-range-books-first h2 {
	font-size: 24px;
	line-height: 26px;
}
.wide-range-books-first a {
	font-size: 12px;
	line-height: 14px;
	padding: 12px 25px;
}
.wide-range-books-first span.glad-your-service-text {
	font-size: 16px;
}
.wide-range-books-first p {
	font-size: 14px;
	line-height: 21px;
	margin: 0 0 12px;
	padding: 0;
}
/*about end*/



/*catalog start*/
.product-table-main-inner.catalog-heading2 h1 {
	font-size: 28px;
}
.product-table-main-outer-panel {
	padding: 35px 0 10px;
	margin-top: 40px;
}
.product-table-main-outer-panel h2 {
	font-size: 26px;
	line-height: 32px;
}
.product-table-main-inner {
	padding: 0 10px !important;
}
.category-bottom-buttons {
	margin: 20px 0 0;
	padding: 0 !important;
}
.product-table-con .catalog1-main-inner {
	margin: 0;
	padding: 0;
}
.product-table-con {
	padding: 30px 0 25px 0 !important;
}
.catalog-page-banner-con {
	background-size: 100% !important;
	height: 185px;
}
.catalog1-subjects-topics li {
	font-size: 12px;
	margin-right: 5px;
	padding-right: 8px;
	border-width: 1px;
	line-height: 10px;
	margin-bottom: 5px;
}
.catalog1-subjects-topics ul {
	padding: 0;
	margin: 15px 0 40px 0;
}
.catalog1-subjects-topics-content {
	padding: 0;
}
.catalog1-subjects-topics-content p {
	font-size: 14px;
	line-height: 22px;
	margin: 0 0 12px;
}
.category-bottom-buttons a {
	font-size: 12px;
	line-height: 14px;
	padding: 15px 0;
	margin: 0 0 10px;
	border-width: 2px;
	display: block;
}
.catalog1-subjects-topics-content h3 {
	font-size: 20px;
	line-height: 24px;
	margin: 0 0 7px 0;
}
/*catalog end*/



/*checkout-as-guest-start*/
.checkout-guest-inner-form {
	padding: 27px 15px !important;
}

.ship-payment-con input[type="radio"] + label {
	width: 100%;
	height: 27px;
	margin: -1px 0 0 0;
	background-size: 15px !important;
	font-size: 14px;
	background-position: left 0px;
	line-height: 16px;
	padding-left: 22px;
}
.ship-payment-con input[type="radio"]:checked + label {
	background-position: left 0px;
	background-size: 15px !important;
	width: 100%;
	padding-left: 22px;
}
.checkout-guest-inner-form .contact-subject-field input, .checkout-guest-inner-form .contact-subject-field textarea, .checkout-guest-inner-form .contact-subject-field select {
	padding: 14px 15px !important;
	font-size: 14px;
	width:100%;
	margin: 0 0 8px;
}
.ship-payment-con {
	margin-bottom: 8px;
}
#shipping-credit-card {
	margin-bottom: 8px;
}
.shipping-grid-outer02 {
	padding: 0 10px !important;
	position: relative;
	margin: 60px 0 0;
}
.shipping-grid-outer .contact-subject-field {
	margin: 0;
}
.checkout-guest-inner-form .contact-name-field input {
	width: 100%;
}

.shipping-grid-outer01 {
	padding-right: 0 !important;
}
.shipping-grid-outer03 {
	padding-left: 0 !important;
	margin: 60px 0 0;
}
.checkout-guest-outer h2 {
	margin: 0 0 12px !important;
	font-size: 18px;
}
.shipping-grid-outer02 {
	padding: 0 !important;
	position: relative;
	margin: 60px 0 0;
}
.ship-payment-con {
	margin-bottom: 25px;
	padding: 12px 15px !important;
	width: 100%;
}
.checkout-guest-inner-form .contact-subject-field input[type="submit"] {
	padding: 15px 60px !important;
	font-size: 15px;
	margin: 7px 0 0;
}
.review-product-in-bag-outer .contact-subject-field input[type="submit"] {
	padding: 12px 30px !important;
	font-size: 12px;
	margin: 40px 0 0;
}
.ship-payment-right img {
	width: 21px;
}
.review-address-con h5 {
	font-size: 15px;
	line-height: 17px;
}
.review-address-con p {
	font-size: 14px;
}
.review-address-con {
	min-height: 175px;
	padding: 17px 15px !important;
}
.shipping-address-same-con input[type="checkbox"] + label {
	font-size: 16px;
	line-height: 20px;
}
.shipping-grid-outer .contact-subject-field {
	margin: 0;
}

.shopping-review-promo-outer button {
	padding: 12px 0;
	font-size: 15px;
	width: 100%;
}
.credit-card-pic {
	background-position:right 17px;
	background-size: 30px;
	width: 100% !important;
	margin:0 0 10px !important;
}
.shopping-review-promo-outer input {
	width: 100%;
	padding: 15px 12px 15px;
	font-size: 13px;
}
.checkout-guest-inner-form select {
	width: 48%;
	font-size: 12px;
}
.review-bag-content {
	width: 68%;
	margin: 0 0 0 10px;
}
.review-rightbar {
	padding-left: 0 !important;
	width: 100%;
}
.review-leftbar {
	padding-right: 0 !important;
	margin-bottom:10px;
	width:100%;
}
.review-bag-pic {
	width: 25%;
}
.checkout-guest-outer span {
	font-size: 13px;
	line-height: 22px;
}
.shopping-subtotal-outer {
	font-size: 14px;
}
.shipping-review-rightbar .shopping-summary-outer {
	padding: 25px 15px !important;
}
.shipping-review-rightbar .shopping-summary-outer h3 {
	font-size: 22px;
	margin: 0 0 10px;
}
.cont-payment-methods-add h2 samp a {
	font-size: 12px;
	padding: 11px 18px;
}
/*checkout-as-guest-end*/

/*Contact Start*/

.banner-inner-pages-panel.contact-banner {
	background-position: center bottom;
	background-size: 100% auto !important;
	height: 190px;
}
.banner-inner-pages-panel h1 {
	height: auto;
}
.inner-pages-outer.contact-page {
	margin-top: 90px;
	float: left;
}
.register-content-otr {
	margin: 25px 0 0 0;
}
.bookstore-benefits {
	padding: 0;
}
.right-selection {
	padding: 0;
	margin: 50px 0 0;
}
/*Contact End*/

/*location ship start*/
.worldwide1-logo {
	width:100%;
}
.worldwide1-logo img {
	max-width: 100%;
	width: 140px;
}
.map-location {
	width: 100%;
	margin: 60px 0 0;
}
/*location ship end*/

/*Login Start*/
.register-section2 .shopping-login-right-outer {
	width: 100% !important;
}
.shopping-login-checkout-main {
	margin: 20px 0;
	padding: 15px 15px;
}
.shopping-cart-left-main .product-advertise-form-inner input[type="submit"] {
	margin-top: 5px;
	padding: 10px 40px;
	font-size: 16px;
	width: 80%;
}
.register-section2 .shopping-login-checkout-fields input {
	width: 100%;
	margin: 0;
}
.register-section2 .other-links li a {
	font-size: 12px;
	padding-right: 5px;
	margin-right: 5px;
}
.register-section2 .other-links {
	margin-top: 25px;
}
.register-section2 .form-section2 {
	padding: 0px 20px 30px;
}
/*Login End*/


/*login checkout start*/
.shopping-login-checkout-main {
	padding: 15px 15px;
	margin: 40px 0;
}
.login-checkout2 .login-ad2 input {
	font-size: 14px !important;
	width: auto !important;
	padding: 10px 35px !important;
}
.shopping-cart-left-main {
	padding: 12px 15px;
}
.shopping-login-right-outer p {
	font-size: 12px;
	line-height: 22px;
}
.login-register-customer .shopping-cart-left-inner {
	padding: 10px;
	min-height:auto;
}
.login-checkout2 .product-advertise-form-inner.login-add-sec input {
	font-size: 12px !important;
	width: 100%;
	padding: 10px 0;
}
.shopping-login-con {
	width: 250px;
}
.shopping-cart-left-main .product-advertise-form-inner input[type="submit"] {
	font-size: 22px;
	margin-top: 10px;
}
.shopping-login-right-outer .product-advertise-form-inner a {
	margin: 15px 0 0;
	font-size: 12px;
	width:100%;
}
.shopping-cart-left-inner {
	min-height: auto;
	padding: 0;
	margin: 0 0 35px;
}
/*login checkout end*/

/*product detail start*/
.wbo-product-detail-heading {
	font-size: 14px;
	padding: 0;
	width: 100%;
	text-align: left;
}
.wbo-product-detail-text {
	font-size: 14px;
	line-height: 22px;
	width: 100%;
	padding: 5px 0 0;
}
.wbo-product-detail-outer {
	margin-bottom: 30px;
}
.category-bottom-buttons a {
	font-size: 12px;
	line-height: 14px;
	padding: 15px 10px;
	margin: 0 0 15px;
}
.wbo-product-detail-left {
	width: 100%;
	text-align:center;
}
.wbo-product-detail-left img {
	width: 70%;
}
.wbo-product-detail-right {
	padding-left: 0 !important;
	width: 100%;
	margin: 50px 0 0;
}
.product-banner-right-heading h2 {
	font-size: 26px;
	line-height: 31px;
	height: auto;
	margin: 0;
}
.product-banner-right-heading {
	display: table;
	padding: 30px 0 0;
	width: 100%;
	float: right;
	margin: 20px 0 0;
}
/*product detail end*/

/*publisher start*/
.publisher-content-part {
	margin: 40px 0 0;
}
.publisher-content-first strong {
	margin:0;
	font-size: 42px;
	line-height: 57px;;
	width: 60px;
	height: 60px;
}
.publisher-content-first ul {
	margin: 10px 0 0;
	width: 100%;
}
.publisher-content-first ul li {
	width: 100%;
}
.payment-list.terms-use {
	padding-right: 2% !important;
	margin-top: 0;
}
.payment-list.terms-use p {
	font-size: 15px;
	margin: 20px 0 0;
}
.privacy-policy-img {
	padding-top: 0 !important;
	text-align: center;
	margin: 40px 0 0;
}
/*publisher end*/

/*register with us start*/
.banner-inner-pages-panel.register-banner {
	height: 255px;
	background-size: cover !important;
}
.cont-payment-methods h5 {
	font-size: 18px;
	line-height: 26px;
}
.privacy-policy-img img {
	max-width: 70%;
}
/*register with us end*/



/*shoping cart start*/
.shopping-cart-wishlist a {
	font-size: 12px;
}
.shopping-item-pic img {
	width: 55px;
}
.shopping-item-details {
	width: 65%;
}
.shopping-cart-quantity {
	width:75%;
	padding: 30px 0 0 20px !important;
}
.shopping-cart-price {
	margin: 30px 0 0;
}
.shopping-item-details h3 {
	font-size: 17px;
	margin-bottom: 10px;
	margin-top: 0;
}
.shopping-item-details h4 {
	font-size: 14px;
	line-height: 18px;
}
.shopping-summary-outer {
	width: 100%;
	padding: 25px 20px !important;
	margin: 0;
}
.shopping-cart-right-main {
	padding: 0 15px 50px !important;
}
.shopping-item-details span {
	font-size: 15px;
	line-height: 15px;
}

/*shoping cart end*/


/*product start*/
.with-nav-tabs .panel-body table {
	float: left;
	width:100% !important;
	
}
.product-table-con .panel-heading, .product-table-con .panel-body {
	padding: 0;
	overflow: scroll;
}
.with-nav-tabs .panel-body tbody {
	float: left;
	width:950px;
}
.product-add-to-cart-button a {
	padding: 8px 10px;
	font-size:10px;
}
.product-table-con .nav-tabs > li > a {
	font-size: 12px;
	padding: 5px 12px;
	margin: 0;
	border-radius:0;
	display:block;
	width:100%;
}
.product-table-con table td, .product-table-con table th {
	padding: 12px 10px;
	font-size: 10px;
}
.product-table-con .nav-tabs > li {
	margin-bottom: 1px;
	margin-right: 2px;
	float: left;
	border-radius:0;
	width: 100%;
}
/*product end*/
.wbo-login-button-nav {
	float: left;
	width: 90% !important;
	margin: 5px 20px 6px !important;
}
.navbar-main-outer .currency-type2 {
	font-size: 10px;
	font-size: 12px;
	margin: 8px 0 20px 20px;
}
.publisher-banner-outer {
	height: 145px;
}

}


/*for 6*/
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) 
{ / STYLES GO HERE /}


/*6 +*/*
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) 
{ / STYLES GO HERE /}






